
<div id="left_sidebar" class="actions">
  <div class="side-bar-hdng">
      <span _ngcontent-c0="" class="name-circle-thumb">{{comService.createDefaultImage(ProfData.PatientName)}}</span>
    <h2>{{ProfData.PatientName}}</h2>
  </div>
  <div class="address-sec">
      <h1><span><img src="assets/images/home-icon-blue.png"></span>Home</h1>
      <p *ngIf="ProfData.Address1">{{ProfData.HomeName}} | {{ProfData.BinName}} <br>{{ProfData.Address1}},{{ProfData.Address2}}<br>{{ProfData.City}},{{ProfData.Prov}}({{ProfData.Postal}})</p>
      <p *ngIf="!ProfData.Address1"> <span class="addrAlt">Please add home address</span></p>
    </div>
  <div class="Alleg-sec">
    <h1>Allergies <i *ngIf="loadAlgCnd" class="fa fa-circle-o-notch fa-spin" style="font-size:16px"></i></h1>  
    <table>
        <tbody>
            <tr>
                <th class="one">Allergies</th>
                <th class="two">Comment</th>
            </tr>
            <tr *ngFor="let alg of allergies;">
                <td class="three">{{alg.Code}}</td>
                <td>{{alg.Comment}}</td>
             </tr>
        </tbody>
    </table>
  </div>
  <div class="Cond-sec">
    <h2>Conditions <i *ngIf="loadAlgCnd" class="fa fa-circle-o-notch fa-spin"  style="font-size:16px"></i></h2>
    <table>
        <tbody>
            <tr><th *ngFor="let cnd of conditions;">{{cnd.Code}}</th></tr>
        </tbody>
    </table>
  </div>
</div>
<div id="right_section">
  <section id="for_padding">
      <section id="four_column" class="pharmacy_users">
          <div class="pro-prosec">
              <div class="heading_column">
                      <div class="ticket_inner" id="section-1">
                          <h3>Profile <i class="fa fa-circle-o-notch fa-spin" *ngIf="loadingPatMedication || LoadingTicketService" style="font-size:24px"></i></h3>
                      </div>
                  </div>
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-medkit"></i>Medications</a></li>
                      <li><a data-toggle="tab" href="#menu1" (click)="getPatTicketService()"><i class="fa fa-ticket"></i> Service Ticket</a></li>
                    </ul>
            </div>
                    <div class="tab-content">
                      <div id="home" class="tab-pane fade in active">
                          <div class="filter_search">
                              Compliance Package 
                              <!-- <span *ngIf="loadingPatMedication"><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></span> -->
                          </div>
                          <div class="table-responsive med_error_second pharmacy_users_second">                              
                              <table>
                                  <tbody>
                                      <tr>
                                          <th style="width: 60%;">Medication</th>
                                          <th>Doctor</th>
                                          <th>Directions</th>
                                      </tr>
                                      <tr *ngFor="let medication of patMedications;">
                                          <td class="dscrpt">{{medication.GenericName}} {{medication.Strength}}
                                             <br>Rx: {{medication.RxNum}} <br> DIN: {{medication.DIN}}   
                                          </td>
                                          <td>{{medication.doctor}}</td>
                                          <td>{{medication.SIG}}</td>
                                  </tbody>
                              </table>
                              <div style="float: left; width: 100%;" *ngIf="loadingPatMedication">
                                  <div class="loaderPill">
                                      <div class="loaderPill-anim">
                                          <div class="loaderPill-anim-bounce">
                                              <div class="loaderPill-anim-flop">
                                                  <div class="loaderPill-pill"></div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="loaderPill-floor">
                                          <div class="loaderPill-floor-shadow"></div>
                                      </div>
                                      <div class="loaderPill-text">
                                          Please wait a while, Loading RX.
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div id="menu1" class="tab-pane fade">
                          <div class="filter_search">
                              Ticket Services
                          </div>
                          <div class="table-responsive med_error_second pharmacy_users_second">
                              <table>
                                  <tbody>
                                      <tr>
                                          <th><i class="fa fa-calendar"></i> Created</th>
                                          <th><i class="fa fa-calendar"></i> Completed</th>
                                          <th><i class="fa fa-user-o"></i>Created By</th>
                                          <th>Type</th>
                                          <th>Description</th>
                                          <th>Completed</th>
                                          <th>Status</th>
                                      </tr>
                                      <tr *ngFor="let ticket of ticketService;">
                                          <td>{{ticket.DateCreated | date:'EEEE, MMMM d, y'}}</td>
                                          <td *ngIf="ticket.DateComplete">{{ticket.DateComplete | date:'EEEE, MMMM d, y'}}</td>
                                          <td *ngIf="!ticket.DateComplete">---</td>
                                          <td>{{ticket.createdBy}}</td>
                                          <td>{{ticket.TicketName}}</td>
                                          <td class="dscrpt">
                                              <span *ngIf="ticket.Details.split(';').length > 1">
                                                  CHANGES: {{ticket.Details.split(';')[0]}} | 
                                                  ACTION: {{ticket.Details.split(';')[1]}}
                                                  <br>
                                                  <span *ngFor="let strip of jsonParse(ticket.Details.split(';')[2]); let m = index">
                                                      {{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.startDate | date:'MMMM d, y'}}<br>
                                                  </span>
                                              </span>
                                              <span  *ngIf="ticket.Details.split(';').length == 1">
                                                  {{ticket.Details}}
                                              </span>
                                            </td>
                                          <td>
                                            <img [src]="ticket.UserIDCompleted?'assets/images/approve.png':''">
                                          </td>
                                          <td>
                                                <a href="javascript:;"  (click)="viewTicketDitail(ticket)" data-toggle="modal" data-target="#myModal" class="approved" >View</a>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                              </div>
                      </div>
                    </div>
      </section>
  </section>
</div>


<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content" *ngIf="TicketDetails">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ticket detail</h4>
                </div>
                <div class="modal-body">
                    <div class="grey_background">
                        <h3>{{ProfData.PatientName}} - {{TicketDetails.PharmacyTicketID}}</h3>
                        <div class="inner_popup">
                            <div class="left_form">
                                <div class="form-group">
                                    <label>Date Created</label>
                                    <input type="text" placeholder="{{TicketDetails.DateComplete | date:'EEEE, MMMM d, y'}}" />
                                </div>
                                <div class="form-group">
                                    <label>Date Complete</label>
                                    <input type="text" placeholder="{{TicketDetails.DateComplete | date:'EEEE, MMMM d, y'}}" />
                                </div>
                                <div class="form-group">
                                    <label>Created By</label>
                                    <input type="text" placeholder="{{TicketDetails.createdBy}}" />
                                </div>
                                <div class="form-group">
                                    <label>Ticket Type</label>
                                    <input type="text" placeholder="{{TicketDetails.TicketName}}" />
                                </div>
                                <div class="form-group">
                                    <label>Date of Delivery</label>
                                    <input type="text" placeholder="{{TicketDetails.DeliveryDate | date:'EEEE, MMMM d, y'}}" />
                                </div>
                                <div class="form-group textarea_tickets">
                                    <label>Description</label>
                                    <div class="tktdicription">
                                        <span *ngIf="TicketDetails.Details.split(';').length > 1">
                                                CHANGES: {{TicketDetails.Details.split(';')[0]}} | 
                                                ACTION: {{TicketDetails.Details.split(';')[1]}}
                                                <br>
                                                <span *ngFor="let strip of jsonParse(TicketDetails.Details.split(';')[2]); let m = index">
                                                    {{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.startDate | date:'MMMM d, y'}}<br>
                                                </span>
                                            </span>
                                            <span  *ngIf="TicketDetails.Details.split(';').length == 1">
                                                {{TicketDetails.Details}}
                                            </span>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="chat_window">
                                
                                <h4><img src="assets/images/chat_icon.png" />CHAT WINDOW</h4>
                                <div class="form-group chat_box">
                                    <div *ngIf="ConService.loadingTicketConversations[TicketDetails.PharmacyTicketID]" class="custom-spiner">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                    <div *ngFor="let chat of ConService.ticketConversations[TicketDetails.PharmacyTicketID]">
                                        <div [ngClass]="chat.UserID != auth.authCheck()['user_id'] ? 'message received' : 'message sent'">
                                                <span class="cht-usr-nm">{{comService.createDefaultImage(chat.name)}}</span>
                                            {{chat.Msg}}
                                            <span class="metadata">
                                                <span class="time">
                                                        <span *ngIf="chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                        <span *ngIf="!chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                          
                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>



   
