#left_sidebar{
    width: 18%;
}
#right_section {
    width: 83%;
}
.side-bar-hdng,.address-sec,.Alleg-sec,.Cond-sec{
    float: left;
    width: 100%;
    padding-left: 27px
}
.heading_column {
    width: 50%;
    margin: 0;
}


.input_btns form input[type="button"] {font-family: 'Roboto-Light';font-size: 17px;text-transform: uppercase;color: #009fe9;border: none;padding: 11px 35px 11px 16px;border-radius: 3px;background-color: #f4f4f4;float: right;background-repeat: no-repeat;background-position: 90% 20px;}

.modal-body label, .modal-body strong {font-weight: normal;color: #7c7c7c;font-size: 17px;     margin-left: 13px;font-family: 'Roboto-Light';float: left;width: 100%;}
.modal-body .form-group {float: left;width: 50%;}
.modal-body .form-group select {background-color: #fff;border: 1px solid #eeeeee;height: 48px;width: 100%;padding: 0 10px;font-size: 15px;color: #9a9a9a;margin-bottom:10px;background-repeat: no-repeat;background-position: 97% 23px;}
.modal-body .form-group select, .modal-body .form-group input[type="text"] {width:94%;-moz-appearance:none;-webkit-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;}
.radio_input {float: left;width: 50%;margin-top: 17px;}
.label-text {float: left;text-indent: -12px;}
.modal-footer, .modal-body, .modal-content {float:left;width:100%;}
.modal-body h3 {padding-top: 0px ;}
.textarea_tickets textarea {background-color: #fff;border: 1px solid #eeeeee;width: 100%;resize:none !important; padding: 10px;font-size: 15px;color: #9a9a9a;height: 150px;resize: vertical;}
.chat_window h4 {width: 100%;background-color: #f0f0f0;font-family: 'Roboto-Light';padding: 12px 0px 14px 70px;position: relative;}
.chat_window img {float: left;background-color: #009fe9;position: absolute;top: 0;left: 0;padding: 7px 11px;}
.form-group.chat_box {width: 100% !important; background: #fff; border-left: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;border-right: 1px solid #eeeeee;padding: 15px;position:relative;}
.form-group.chat_box input[type="text"] {width:100%;}
.modal-footer {background-color: #f1f1f1;}
.grey_background {background-color: #f5f5f5;float: left;width: 100%;margin-top: -26px;padding: 15px 15px;}
.left_form {float: left;width: 50%;}
.chat_window {float: right;width: 47%;}
.modal-footer {float: left;width: 100%;background-color: transparent;border: none;padding-right: 0;padding-left: 0;padding-top: 5px;}
.form-group.chat_box[_ngcontent-c1] {
    height: 415px;
    overflow-y: scroll;

}


.message.received:after ,.message.sent:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #f7f7f7 transparent transparent;
    top: 0;
    left: -10px;
}

.message.received ,.message.sent {
    background: #f7f7f7;
    z-index: 99999;
}


.message.received .metadata ,.message.sent .metadata {
    float: right;
    width: auto;
    font-size: 0;
   text-align: right;
}

.chat_window .chat_box .received .metadata ,.chat_window .chat_box .sent .metadata {
    float: right;
    width: 100%;
    font-size: 0;
    text-align: right;
    margin-top: 0;
}


.chat_window .chat_box .received .metadata .time ,.chat_window .chat_box .sent .metadata .time{
    float: right;
    width: 100%;
    margin-top: 0;
}
.chat_window .chat_box .received .metadata .time span , .chat_window .chat_box .sent .metadata .time span{
    float: right;
    width: 100%;
    margin-top: 0;
    font-size: 14px;
}

.message , .sent {
    z-index: 99999;
}


.received span.cht-usr-nm {
    border: 1px solid #00A2E3;
    background: #00A2E3;
    color: #fff;
}
.tktdicription{    width: 100%;
    float: left;
    background: #fff;
    padding: 5px;
    margin-left: 11px;
height: 175px;}
    .tktdicription span{width:100%;}
.pro-prosec {
    float: left;
    width: 100%;
}
ul.nav.nav-tabs {
    float: right;
}

.nav-tabs > li.active a {
    background-color: #009fe9;
    color: #fff !important;
    border-radius: 0;
    padding: 10px 15px;
}
.nav-tabs > li:last-child a {
    margin-left: 0;
    border: none;
    padding: 10px 0px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    border-radius: 0 57px 0px 0px;
    background: #eee;
    color: #fff !important;
}

.nav-tabs li.active {
    background:#009fe9 !important;
    border-radius: 0 57px 0px 0px;
}
.nav-tabs > li.active a {
    background-color: #009fe9 !important;
    border-radius: 0 57px 0px 0px;
}

.nav-tabs li.active{
    background: #009fe9 !important;
    width: 300px;
    text-align: center;
}
.nav-tabs li{
    width: 300px;
    text-align: center;
    border : none;
}
span.addrAlt {
    color: red;
}
.nav-tabs li a { border : none;    border-radius: 0 57px 0px 0px;} 
.Alleg-sec table td{border-bottom: 1px solid #fff;  }
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
table .dscrpt{text-align: left;}
.side-bar-hdng {
    border-bottom: 1px solid #000;
}
#home table td, #menu1 table td{font-size: 15px;}
#left_sidebar {
    padding-top: 55px;
}
.side-bar-hdng h2 {
    float: left;
    width: 100%;
    text-align: center;
}
.side-bar-hdng .name-circle-thumb {
   
    margin-left: 36%;
}
.side-bar-hdng span {
    margin-right: 10px;
}

.side-bar-hdng h1 {
    font-size: 29px;
}
 
.Alleg-sec table {
    width: 93%;
    border: 1px solid #e6e6e6;
}

.Alleg-sec table th {
    text-align: center;
    background: #fff;
    
}

.Alleg-sec table .one{
    border-right: 1px solid #e6e6e6;
}


.Alleg-sec table tr {
    height: 39px;
    text-align: center;
}

.Alleg-sec table td {
    background: #009fe9;
    color: #fff;

}
.three{ border-right: 1px solid #fff;}
.address-sec h1,.side-bar-hdng h1,.Alleg-sec h1{
    font-size: 25px;
}
.address-sec span {
    margin-right: 7px;
    position: relative;
    top: -3px;
}
.Cond-sec table {
    background-color: transparent;
    width: 93%;
}
.Cond-sec th {
    float: left;
    width: 100%;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 11px;
    font-size: 16px;
    font-weight: normal;
}
.Cond-sec th:nth-child(2n+2){
    background: #009fe9;
    color : #fff;
}
.form-group.textarea_tickets {width: 100% !important;}



@media (max-width : 1400px){
    .heading_column[_ngcontent-c1] {
        width: 40%;
    }
}


@media(max-width:1199px){

    #right_section{
        width: 65%;
      }
      #left_sidebar{
        width: 35%;
      }
      .heading_column h3 {
       
        width: 100%;
    }
    .heading_column {
        width: 29%;
    }
    ul.nav.nav-tabs{
        float: left;
        width: 100%;
    }

#for_padding {
    padding: 0 15px 50px;
}
ul.nav-tabs li,.nav-tabs li.active {
    width: 207px;
    float: left !important;
}
.nav-tabs li a,.nav-tabs li.active a{
    padding: 3px 15px !important;
    font-size: 23px !important;
}
#four_column {
    padding: 77px 0 0;
}
#left_sidebar {
    padding-top: 95px;
}
}
