.fa.fa-plus {
    font-size: 25px; color: green;
}
.remove-strp .fa-minus-circle {
    font-size: 16px;
    color: red;
}
.modal-body .ticketTypeLoading{ position: absolute;right:0%;margin-top: 10px;}
.modal-body .ticketTypeLoading i.fa.fa-spinner.fa-spin {color: #00A2E3;font-size: 25px;}