<div id="left_sidebar" class="actions">
    <ul>
        <li class="heading">Actions</li>
        <li>
            <a href="javascript:;" data-toggle="modal" data-target="#myModal_new" (click)="ticketFromReset()"><img src="assets/images/ticket-icon.png"> <span>New Ticket</span></a>
            <div id="myModal_new" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form novalidate [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" id="CloseButton">&times;</button>
                                <h4 class="modal-title">New Ticket</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <span>Ticket Type <em>*</em></span>
                                    <span class="ticketTypeLoading" *ngIf="loadingTicketType" ><i class="fa fa-spinner fa-spin"></i></span>
                                    <select formControlName="TicketType" [(ngModel)]="type" (ngModelChange)="onChange($event)" [ngClass]="{
                                            'invalid-danger': TicketType.invalid && TicketType.dirty,
                                            'valid-success': TicketType.valid && TicketType.dirty
                                          }">
                                            <option *ngFor="let type of ticketType;"  value="{{type.TicketTypeID}}">{{type.TicketName}}</option>
                                        </select>
                                </div>
                                <div class="form-group" *ngIf="batchType">
                                    <span>Patient <em>*</em></span>
                                    <input type="text" autocomplete="off" [ngClass]="{
                                        'invalid-danger': PatID.invalid && PatID.dirty,
                                        'valid-success': PatID.valid && PatID.dirty
                                      }" formControlName="PatID" id="patient" placeholder="Search patients..." (keyup)="filterPat($event)" />
                                    <div class="ticketTypeLoading" *ngIf="findingPatients">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                    <ul class="patlist" *ngIf="showlist">
                                        <li *ngFor="let pat of patientList;" (click)="selectPat(pat, batchType)">{{pat.FirstName +' '+pat.LastName + ' - Home: ' + pat.HomeName + ' Agency: ' + pat.AgencyName}}</li>
                                    </ul>
                                </div>
                                <div *ngIf="type == 2">
                                    <!--Loading Prns-->
                                    <div style="float: left; width: 100%;" *ngIf="findingpatientRXs">
                                        <div class="loaderPill">
                                            <div class="loaderPill-anim">
                                                <div class="loaderPill-anim-bounce">
                                                    <div class="loaderPill-anim-flop">
                                                        <div class="loaderPill-pill"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="loaderPill-floor">
                                                <div class="loaderPill-floor-shadow"></div>
                                            </div>
                                            <div class="loaderPill-text">
                                                Please wait a while, Loading RX.
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--Loading Prns-->
                                    <div class="form-group tck-order-sec" *ngIf="ihavpatientRXs">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Rx</th>
                                                    <th>Drug</th>
                                                    <th>Rem</th>
                                                    <th>Doctor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let PatRx of  patientRXs; let l = index;">
                                                    <td><input type="checkbox" value="{{PatRx.ID}}" (change)="colleteRxIDs($event)"/></td>
                                                    <td>{{PatRx.RxNum}}</td>
                                                    <td>{{PatRx.GenericName}} {{PatRx.Strength}}</td>
                                                    <td>{{PatRx.RemQty}}</td>
                                                    <td>{{PatRx.Doctor}} <span>{{ PatRx.NoFaxRefills? 'NF':''}}</span> <span>{{ PatRx.NoPhoneRefills? 'NP':''}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- *ngIf="batchType != 1" -->
                                <div class="form-group">
                                    <span>Delivery On <em *ngIf="batchType != 1">*</em></span>
                                    <input [owlDateTimeTrigger]="dt3"  [owlDateTime]="dt3" autocomplete="off" [ngClass]="{
                                            'invalid-danger': DeliveryDate.invalid && DeliveryDate.dirty,
                                            'valid-success': DeliveryDate.valid && DeliveryDate.dirty
                                          }" formControlName="DeliveryDate"  placeholder="Delivery On" />
                                    <owl-date-time  [hour12Timer]="'true'" #dt3></owl-date-time>
                                </div>

                                <div class="form-group" *ngIf="type != 3">
                                    <span>Description</span>
                                    <textarea formControlName="Details"></textarea>
                                </div>
                                <div class="form-group" *ngIf="type == 3">
                                    <div class="txt-desc">
                                        <span>Description</span>
                                    </div>
                                    <div class="text-area-sec">
                                        <div class="cnt-label">
                                            <span>CHANGE : </span>
                                            <textarea formControlName="change" row="1" name="change"></textarea>
                                        </div>
                                        <div class="cnt-label">
                                            <span>ACTION : </span><textarea formControlName="action" row="1" name="action"></textarea>
                                        </div>
                                        <!-- <div *ngFor="let item of createRange(DescriptionBoxes); let n = index;"> -->
                                        <div formArrayName="items"  *ngFor="let item of ticketForm.get('items').controls; let n = index;">
                                            <div [formGroupName]="n">
                                                <div class="cnt-label date-label">
                                                    <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <input placeholder="Start Date" formControlName="startDate" [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10" date-parser="yyyy-mm-dd" readOnly/>
                                                    <owl-date-time [pickerType]="'calendar'" #dt10></owl-date-time>
                                                </div>
                                                <div class="cnt-label date-label">
                                                    <span><i class="fa fa-calendar"></i></span>
                                                    <input placeholder="End Date" formControlName="endDate" [owlDateTimeTrigger]="dt11" [owlDateTime]="dt11" date-parser="yyyy-mm-dd" readOnly/>
                                                    <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
                                                </div>
                                                <div class="cnt-label date-label">
                                                    <span><i class="fa fa-calendar"></i></span>
                                                    <input placeholder="Delivery Date" formControlName="deliveryDate" [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12" date-parser="yyyy-mm-dd" readOnly/>
                                                    <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
                                                </div>
                                                <div class="cnt-label date-label">
                                                    <select formControlName="Strips">
                                                        <option value="null" [selected]="true">Strip Type</option>
                                                        <option value="Antibiotic">Antibiotic</option>
                                                        <option value="Short Term Med">Short Term Med</option>
                                                        <option value="Spares">Spares</option>
                                                        <option value="Replacement">Replacement</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="remove-strp">
                                                <i class="fa fa-minus-circle" (click)="removeDescription(n)" *ngIf="n > 0"></i>
                                            </div>
                                            
                                        </div>
                                        <div class="text-center">
                                            <i class="fa fa-plus" (click)="addItem()"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-default" [disabled]="!ticketForm.valid || creatingTicket">
                                    
                                    <span *ngIf="!creatingTicket">Create </span>
                                     <span *ngIf="creatingTicket">Creating <i class="fa fa-spinner fa-spin"></i></span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </li>

        <li (click)="comService.activeNav('reminder');"><label class="switch"><input type="checkbox" ([ngModel])="ischecked"[checked]="comService.filter.reminder"><span class="slider round"></span></label>
            <a href="javascript:;" routerLink="/reminders"><img src="assets/images/dashboard-icon.png"><div class="content"><p>Reminders</p><span>{{comService.navCounter.reminder}}</span></div></a>
        </li>
    </ul>
    <div class="filter">
        <ul>
            <li (click)="comService.activeNav('new');"><label class="switch"><input type="checkbox" ([ngModel])="ischecked"[checked]="comService.filter.new"  ><span class="slider round"></span></label><a routerLink="/operations/new"><img src="assets/images/ticket-icon.png"> <div class="content"><p>New</p><span>{{comService.navCounter.Tickets}}</span></div></a></li>
            <li (click)="comService.activeNav('production');"><label class="switch"><input type="checkbox" ([ngModel])="ischecked"[checked]="comService.filter.production"  ><span class="slider round"></span></label><a routerLink="/operations/in-production"><img src="assets/images/ticket-icon.png"> <div class="content"><p>Production</p><span>{{comService.navCounter.production}}</span></div></a></li>
            <li class="click_btn" (click)="comService.activeNav('ready');"><label class="switch"><input type="checkbox" [checked]="comService.filter.ready" ([ngModel])="ischecked" ><span class="slider round"></span></label><a routerLink="/operations/ready"><img src="assets/images/production-icon.png"> <div class="content"><p>Home Bins</p><span>{{comService.navCounter.homeBin}}</span></div></a></li>
      
            <li class="click_btn" (click)="comService.activeNav('deliveryRun');"><label class="switch"><input type="checkbox" [checked]="comService.filter.deliveryRun" ([ngModel])="ischecked"><span class="slider round"></span></label><a routerLink="/operations/delivery-run"><img src="assets/images/production-icon.png"><div class="content"><p>Delivery Run</p><span>{{comService.navCounter.delivery}}</span></div></a></li>

        </ul>
    </div>
</div>
<div id="right_section" class="attch-ord-inner-page">
    <router-outlet></router-outlet>
</div>