<section id="for_padding">
        <div class="tck-order-sec">
            <div class="heading_column">
                <div class="ticket_inner" id="section-1">
                    <h3>Add Reminders</h3>
                </div>
                <div style="float:right">
                        <a href="#" routerLink="../reminders" class="crt-new">
                            <i class="fa fa-angle-left">
                            </i> Ticket Reminders
                        </a>
                    </div>
            </div>
            <ul>
                <!--<li class="tck-ticket">
                        <p>Add Reminders</p>
                    </li>
                    <li class="input-search tck-ticket">
                    </li>
                    <li>
                        <input type="radio" [(ngModel)]="TicketTypeRadio" [value]="4" /> Batch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" [(ngModel)]="TicketTypeRadio" [value]="2" /> Reorder
                    </li>-->
            </ul>
        </div>
        <div class="reminder-section">
            <form novalidate [formGroup]="batchFrom" (ngSubmit)="onSubmitBatch(TicketTypeRadio)">
                <div class="panel panel-default black-panel">
                    <div class="panel-heading reminder-panel-heading">
                        <div *ngIf="TicketTypeRadio == 4">
                            <span *ngIf="Title.value == false">Batch</span> {{Title.value}}
                        </div>
                        <div *ngIf="TicketTypeRadio == 2">
                            <span *ngIf="Title.value == false">Reorder</span> {{Title.value}}
                        </div>
    
                    </div>
                    <div class="panel-body">
                        <div *ngIf="TicketTypeRadio == 2">
                            <div style="width:100%" [class]="(findingPrn == false) ? 'add-ord' : 'add-ord disabled-selector'">
                                <input type="text" formControlName="PatID" autocomplete="off" placeholder="Search patients..." (keyup)="filterPat($event)" style="width:100%;margin:0" />
                                <div class="custom-spinner" *ngIf="findingPatients">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                                <div class="patients-list" *ngIf="showlist">
                                    <h4 *ngFor="let pat of patientList;" (click)="selectPat(pat)">{{pat.FirstName +' '+pat.LastName + ' - Home: ' + pat.HomeName + ' Agency: ' + pat.AgencyName}}</h4>
                                </div>
                            </div>
    
    
                            <!--Loading Prns-->
                            <div style="float: left; width: 100%;" *ngIf="ihavpatientRXs == false">
                                <div class="loaderPill">
                                    <div class="loaderPill-anim">
                                        <div class="loaderPill-anim-bounce">
                                            <div class="loaderPill-anim-flop">
                                                <div class="loaderPill-pill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="loaderPill-floor">
                                        <div class="loaderPill-floor-shadow"></div>
                                    </div>
                                    <div class="loaderPill-text">
                                        Please wait a while, Loading RX, till then you can fill following fields.
                                    </div>
                                </div>
                            </div>
                            <!--Loading Prns-->
                            <div class="multiselect-selectbox" *ngIf="ihavpatientRXs">
                                <ng-multiselect-dropdown [placeholder]="'Select Re-Orders'" [data]="patientRXs" formControlName="prns" [settings]="dropdownSettings" name="prns">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
    
                        <div class="add-ord">
                            <span class="label-title">Title <em>*</em></span>
                            <input type="text" class="serchBatch" formControlName="Title" placeholder="Title">
                            <span class="fm-error" *ngIf="Title.errors && (Title.dirty || Title.touched)">
                                    <span *ngIf="Title.errors.required">Title is required</span>
                                </span>
                        </div>
                        <div class="add-ord">
                            <span class="label-title">Due Date <em>*</em></span>
                            <input formControlName="DueDate" [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10" date-parser="yyyy-mm-dd" placeholder="Due Date" readOnly/>
                            <owl-date-time [pickerType]="'calendar'" #dt10></owl-date-time>

                            <span class="fm-error" *ngIf="DueDate.errors && (DueDate.dirty || DueDate.touched)">
                                    <span *ngIf="DueDate.errors.required">DueDate is required</span>
                                </span>
                        </div>
                        <div class="add-ord">
                            <span class="label-title">Custom </span>
                            <input type="text" class="serchBatch" formControlName="strips" placeholder="Jane,Doe,Strip">
    
                            <div class="reminder-add-btn">
                                <a (click)="addBatch()">Add</a>
                            </div>
                        </div>
    
                        <div class="tck-rpt-evr-btn Reminder">
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-3 tickets_card" *ngFor="let batchItem of dataObj.batchItems">
                                <div class="ticket_inner">
                                    <h3>{{batchItem}}<i class="fa fa-close close-remin" (click)="removeAddedBatch(batchItem)" aria-hidden="true"></i></h3>
                                </div>
                            </div>
                        </div>
                        <div class="tck-rpt-evr-btn">
                            <div class="col-md-4">
                                <div class="active-tck-ord">
                                    <span class="label-title">Status</span><label class="switch"><input type="checkbox" formControlName="status" value="1"><span class="slider round"></span></label>
                                </div>
    
                                <div class="repet-btn-tckts">
                                    <span class="label-title">Repeat</span><label class="switch"><input type="checkbox"  formControlName="repeat" value="1"><span class="slider round"></span></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="ord-days">
                                    <span class="label-title">Every</span>
                                    <input type="number" placeholder="7" formControlName="dayIntervel" value="7" min="1" max="20"> &nbsp;&nbsp;
                                    <span class="label-title">Days</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!--<div class="crt-dt">
                                    <button type="button" (click)="createTicket(4)">Create Ticket</button>
                                </div>-->
                                <div class="crt-dtt" *ngIf="(TicketTypeRadio == 2 && ihavpatientRXs) || TicketTypeRadio != 2">
                                    <button type="submit" [disabled]="loading['reminder']">Save Reminder</button>
                                    <div *ngIf="loading['reminder']" class="custom-spiner">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>