.panel-heading {
    float: left;
    width: 100%;
    margin: 0 !important;
    font-size: 25px;
    cursor : pointer;
    padding: 15px;
} 

.patients-list {
    margin-top: 60px !important;
    background: #eeeeee;
    margin-top: 60px !important;
    background: #eeeeee;
}

.patients-list h4 {
        border-bottom: 1px solid #fff;
        padding: 10px 10px 20px 10px;
        cursor: pointer;
}

.multiselect-selectbox {
    width: 100%;
}