<div class="login_page">
  <div class="logo_small">
      <img src="assets/images/logo.png" />
      <form class="form-signin" method="POST" action="#" role="form" (ngSubmit)="loginForm()">
       
          <div class="form-group half_column">
              <input type="email" placeholder="Email" [(ngModel)]="data.email" name="email" />
          </div>
          <div class="form-group half_column pull-right">
              <input type="password" placeholder="Password" [(ngModel)]="data.password" name="password" />
          </div>
          <div class="form-group half_column">
              <button  id="signupSubmit" type="submit">Sign In </button>
          </div>
          <div class="form-group half_column">
            <a href="javascript:;">Forgot Password?</a>
          </div>
      </form>
      <span class="fm-error" *ngIf="login_error">
            <span>{{login_error}}</span>
        </span>
  </div>
</div>