.even-inner-order .ticket_inner span.click_top {
    right: 47px !important;
    top: 10%!important;}
.cloumn_three .heading_column .serachBin{position: absolute;
        right: 20px;
        margin-right: 25px;
        margin-top: 12px;}