<section id="for_padding">
  <div class="cloumn_three">
    <div class="heading_column" id="awaitingBin" >
        <div class="ticket_inner section-6" id="section-6"><h3>Home Bins <i class="fa fa-circle-o-notch fa-spin"  *ngIf="comService.homeBinLoader" style="font-size:24px"></i></h3></div>
        <i *ngIf="loadFilterData" class="fa fa-circle-o-notch fa-spin serachBin" style="font-size:24px"></i>
        <input type="text" placeholder="Filter Bin Name here......." (keyup)="filterHome($event)" name="filt-bin">
    </div>
    <!-- <div class="sub_heading_column" >
        <h3 id="section-7"><span></span></h3>
    </div>

    <app-awaiting-bin></app-awaiting-bin> -->

    <div class="in-bin-sec">
        <!-- <div class="sub_heading_column">
                <i *ngIf="loadFilterData" class="fa fa-circle-o-notch fa-spin serachBin" style="font-size:24px"></i>
                <input type="text" placeholder="Filter Bin Name here......." (keyup)="filterHome($event)" name="filt-bin">
        </div> -->

        <app-in-bin></app-in-bin>
    </div>
  </div>
</section>