<section id="for_padding">
        <div class="tck-order-sec">
                <div class="heading_column">
                        <div class="ticket_inner" id="section-1">
                            <h3>Reminders <i *ngIf="status.mainLoader" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></h3>
                        </div>
                    </div>
            <ul>
                <li class="input-search tck-ticket">
                    <input placeholder="Type to filter reminders" name="ord-src" type="text" (keyup)="searchReminder($event)">
                    <div *ngIf="status['filter']" class="custom-spiner">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </li>
                <!--<li>
                    <input type="checkbox" class="display_div" checked> <span id="all-reminder">All Tickets</span>
                    <div class="all-tckts" style="display:none;">
                        <div class="chk-batch">
                            <input type="checkbox" class="click_checkbox" rel="batch" checked> <span>Batch</span>
                        </div>
                        <div class="chk-order">
                            <input type="checkbox" class="click_checkbox" rel="reorder" checked> <span>Reorder</span>
                        </div>
                    </div>
                </li>-->
                <li>
                    <a href="#" routerLink="../add-reminder" class="crt-new">
                        <i class="fa fa-plus">
    
                        </i> New Reminder
                    </a>
                </li>
            </ul>
        </div>
        <div *ngFor="let reminder of this.dataObj.reminders; let i = index;">
            <div class="reminder-section" [ngClass]="{'reorder':reminder.TicketType==2,'batch':reminder.TicketType==4}">
                <form (ngSubmit)="update(reminder)">
                    <div class="panel panel-default black-panel">
                        <div class="panel-heading" (click)="comService.toggleGroup(reminder.ReminderID);(!ihaveRXs[reminder.ReminderID] && !findingPrn[reminder.ReminderID]) ? getReminderRX(reminder) : ''">
                            <div class="col-md-3">
                                #{{reminder.ReminderID}}
                            </div>
                            <div class="col-md-3">
                                {{reminder.Title}}
                            </div>
                            <div class="col-md-3">
                                <div *ngIf="reminder.RepeatOn !=0">Due: {{comService.addDay(reminder.DueDate,reminder.DaysInterval)|date:'dd LLL yyyy'}}</div>
                                <div *ngIf="reminder.RepeatOn ==0">Due: {{comService.dateConverter(reminder.DueDate)}}</div>
    
                            </div>
                            <div class="col-md-3">
                                <div style="float : right">
                                    <i class="custom-accordiance-icon" [class]="!comService.isGroupShown(reminder.ReminderID) ? 'fa fa-plus' : 'fa fa-minus'"></i>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="comService.isGroupShown(reminder.ReminderID)" class="panel-body">
                            <div *ngIf="reminder.TicketType == 2">
                                <div style="width:100%" class="add-ord">
                                    <input type="text" disabled autocomplete="off" placeholder="Search patients..." [value]="reminder.PatName" style="width:100%;margin:0" />
                                </div>
                                <div class="text-center" *ngIf="(!ihaveRXs[reminder.ReminderID] && !findingPrn[reminder.ReminderID])" (click)="getReminderRX(reminder)">
                                    View
                                </div>
    
                                <div style="float: left; width: 100%;" *ngIf="findingPrn[reminder.ReminderID]">
                                    <div class="loaderPill">
                                        <div class="loaderPill-anim">
                                            <div class="loaderPill-anim-bounce">
                                                <div class="loaderPill-anim-flop">
                                                    <div class="loaderPill-pill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="loaderPill-floor">
                                            <div class="loaderPill-floor-shadow"></div>
                                        </div>
                                        <div class="loaderPill-text">
                                            Please wait a while, Loading RX, However you can update reminders.
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="rx-numbers" *ngFor="let reminderRx of reminderRXs[reminder.ReminderID]; let l = last">
                                {{reminderRx.DrgInfo}}<span *ngIf="!l">, </span>
                            </div>
                            <div class="add-ord">
                                <span class="label-title">Title</span>
                                <input type="text" class="serchBatch" [(ngModel)]="reminder.Title" name="title" placeholder="Title">
                            </div>
                            <div class="add-ord">
                                <span class="label-title">Due Date</span>
                                <input [(ngModel)]="reminder.DueDate" name="DueDate" [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10" date-parser="yyyy-mm-dd" placeholder="Due Date" readOnly/>
                                <owl-date-time [pickerType]="'calendar'" #dt10></owl-date-time>
                            </div>
                            <div class="add-ord">
                                <span class="label-title">Orders</span><input type="text" class="serchBatch" [(ngModel)]="reminder.strip" name="strip" placeholder="Jane,Doe,Strip">
                                <div class="reminder-add-btn">
                                    <a (click)="addBatch(reminder)">Add</a>
                                </div>
                            </div>
    
    
                            <!--<div class="tck-rpt-evr-btn Reminder" *ngIf="reminder.TicketType==4">
                                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-3 tickets_card" *ngFor="let batchItem of dataObj.batchItems[reminder.ReminderID]; let j=index;">
                                    <div class="ticket_inner">
                                        <h3>{{batchItem}}<i class="fa fa-close close-remin" (click)="remove(reminder,j)" aria-hidden="true"></i></h3>
                                    </div>
                                </div>
                            </div>-->
                            <div class="tck-rpt-evr-btn Reminder" *ngIf="reminder.TicketType==2 && reminder.Details">
                                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-3 tickets_card" *ngFor="let batchItem of dataObj.reorderItems[reminder.ReminderID]; let k=index;">
                                    <div class="ticket_inner">
                                        <h3>{{batchItem}}<i class="fa fa-close close-remin" (click)="remove(reminder,k)" aria-hidden="true"></i></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="tck-rpt-evr-btn">
                                <div class="col-md-4">
                                    <div class="repet-btn-tckts">
                                        <span class="label-title">Status</span><label class="switch"><input type="checkbox" [(ngModel)]="reminder.Active" name="status" value="1"><span class="slider round"></span></label>
                                    </div>
                                    <div class="repet-btn-tckts">
                                        <span class="label-title">Repeat</span><label class="switch"><input type="checkbox" [(ngModel)]="reminder.RepeatOn" name="repeat" value="1"><span class="slider round"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ord-days">
                                        <span class="label-title">Every</span>
                                        <input type="number" [(ngModel)]="reminder.DaysInterval" name="dayIntervel" value="7" min="1" max="20">
                                        <span class="label-title">
                                            &nbsp;&nbsp;                                            
                                                Days
                                            </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="crt-dt">
                                        <button type="button" (click)="createTicket(reminder)" [disabled]="isCreatingTicket[reminder.ReminderID]">
                                            <span *ngIf="!isCreatingTicket[reminder.ReminderID]">Create Ticket</span>
                                            <span *ngIf="isCreatingTicket[reminder.ReminderID]"><i class="fa fa-spinner fa-spin"></i></span>
                                            
                                        </button>
                                    </div>
                                    <div class="crt-dtt">
                                        <button type="submit" [disabled]="loading['reminder'][reminder.ReminderID]">
                                            <span *ngIf="!loading['reminder'][reminder.ReminderID]">Update Reminder</span>
                                            <span *ngIf="loading['reminder'][reminder.ReminderID]"><i class="fa fa-spinner fa-spin"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </form>
            </div>
        </div>
    </section>