.panel-heading {
    float: left;
    width: 100%;
    margin: 0 !important;
    font-size: 25px;
    cursor : pointer;
    padding: 15px;
} 

.custom-accordiance-icon {
    font-size : 30px;
    font-weight: bold;
}

.common.common-batch {
    float: left;
    width: 100%;
    background-color: #fbfbfb;
    margin-top: 30px;
}

.rx-numbers {
    
}