
<div id="left_sidebar" class="actions">
    <ul [class]="loader['getUsers'] ? 'disabled-selector' : ''">
        <li class="heading">Actions</li>
        <li *ngFor="let userType of userTypes">
            <label class="switch">
              <input type="radio" name="userType" [value]="userType.RoleId" [checked]="userType.RoleId == selected_userType" (change)="selectUserType($event)">
              <span class="slider round"></span>
          </label>
            <a href="javascript:;" (click)="selectUserType(userType.RoleId)"><img src="assets/images/new_pharmacy_user_icon.png"> <span>{{userType.UserRole}}</span></a>
        </li>
        <li>
            <label class="switch">
            <input type="radio" name="userType" [value]="0" [checked]="selected_userType == 0" (change)="selectUserType($event)">
            <span class="slider round"></span>
        </label>
            <a href="javascript:;" (click)="selectUserType(0)"><img src="assets/images/new_pharmacy_user_icon.png"> <span>All Users</span></a>
        </li>
    </ul>
</div>
<div id="right_section">
    <section id="for_padding">
        <section id="four_column" class="pharmacy_users">

                <div class="heading_column">
                        <div class="ticket_inner" id="section-1">
                            <h3>Users <i *ngIf="status.mainLoader" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></h3>
                        </div>
                    </div>
            <div class="right_btns pharmacy_right_btns">
                <a href="javascript:;" (click)="addUserClick()" data-toggle="modal" data-target="#myModal_new"><img src="assets/images/new_pharmacy_user_icon.png" />Add User</a>
            </div>
            <div class="filter_search">
                Pharmacy Users
            </div>
        </section>
        <div class="table-responsive med_error_second pharmacy_users_second">
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th *ngIf="selected_userType == 0">Role</th>
                        <th>Phone</th>
                        <th>Last Updated</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let user of users">
                        <td>{{user.userName}}</td>
                        <td>{{user.email}}</td>
                        <td *ngIf="selected_userType == 0">
                            <small>
                          {{user.user_roles}}
                        </small>
                        </td>
                        <td>
                            <span *ngIf="user.phone">{{user.phone}}</span>
                            <span *ngIf="user.phone == false">-</span>
                        </td>
                        <td>
                            <span *ngIf="user.updatedAt == null">{{user.dateCreated}}</span>
                            <span *ngIf="user.updatedAt != null">{{user.updatedAt}}</span>
                        </td>
                        <td>
                            <a href="javascript:;" (click)="editUser(user)" data-toggle="modal" data-target="#myModal_new"><img src="assets/images/edit_icon.png" /> </a>
                            <!--<a href="javascript:;" (click)="deleteUser(user.user_id)"><img src="assets/images/delete_icon.png" /></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="custom-spiner" *ngIf="loader['getUsers']">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <br /> <br />
            <div class="center">
                <button type="button" class="load-more" (click)="getUsers(selected_userType)" *ngIf="load_more">Load More</button>
            </div>
        </div>
    </section>
</div>

<div id="myModal_new" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{modal_title['user']}}</h4>
            </div>
            <form novalidate [formGroup]="myForm" (ngSubmit)="saveUser()">
                <div class="modal-body">
                    <div class="form-group">
                        <span>Username <em>*</em></span>
                        <input type="text" formControlName="userName" [(ngModel)]="edit.userName" name="userName" />
                        <span class="fm-error" *ngIf="userName.errors && (userName.dirty || userName.touched)">
                            <span *ngIf="userName.errors.required">Name is required</span>
                        <span *ngIf="userName.errors.pattern">Enter valid name</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <span>User Type <em>*</em></span>
                        <div *ngIf="iHaveUserTypes" class="multiselect-selectbox">
                            <ng-multiselect-dropdown [placeholder]="'Choose Roles'" [data]="userTypes" formControlName="userType" [(ngModel)]="edit.userType" [settings]="dropdownSettings" name="userType">
                            </ng-multiselect-dropdown>
                        </div>
                        <div *ngIf="iHaveUserTypes == false">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <span>Email <em>*</em></span>
                        <input type="text" formControlName="email" required [(ngModel)]="edit.email" name="email" />
                        <span class="fm-error" *ngIf="email.errors && (email.dirty || email.touched)">
                            <span *ngIf="email.errors.required">Email is required</span>
                        <span *ngIf="email.errors.pattern">Wrong Email format, try again</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <span>Password <em>*</em></span>
                        <input type="text" formControlName="password" required [(ngModel)]="edit.password" name="password" />
                        <span class="fm-error" *ngIf="password.errors && (password.dirty || password.touched)">
                            <span *ngIf="password.errors.required">Password is required</span>
                        <span *ngIf="password.errors.minlength">Password must be 8 characters long</span>

                        </span>
                    </div>

                    <div class="form-group">
                        <span>Phone</span>
                        <input type="text" formControlName="phone" [(ngModel)]="edit.phone" name="phone" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseButton">Close</button>
                    <button type="submit" class="btn btn-default" [disabled]="submitDisabled['userSubmit']" *ngIf="iHaveUserTypes">
                       <span *ngIf="!submitDisabled['userSubmit']">Save</span>
                       <span *ngIf="submitDisabled['userSubmit']">Saving <i class="fa fa-spinner fa-spin"></i></span>
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>