.search_box li {width: 100%;float: left;list-style: none;margin: 6px 0px;border-bottom: 1px solid #cecece;text-align: left;}
.search_box li .name-circle-thumb {height: 25px;width: 25px; letter-spacing: -1px;font-size: 12px;margin-right: 10px;}
.search_box ul{position: absolute;background: #fff;width: 86%;}
.search_box i.fa.fa-circle-o-notch.fa-spin{font-size: 24px; position: absolute;right: 58px; margin-top: 9px;}
.search_box li a{text-decoration: none;}