<section id="wrapper" [hidden]="auth.showHeader == false">
    <header>
        <div class="logo">
            <a routerLink="/operations/new">
                <img src="assets/images/logo.png" />
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li [class]="(current_route == '/operations/new' || current_route == '') ? 'active' : ''"><a routerLink="/operations/new">Operations</a></li>
                <li [class]="(current_route == '/agencies' || current_route == '/create-agency') ? 'active' : ''"><a routerLink="/agencies">Agency</a></li>
                <li [class]="(current_route == '/users') ? 'active' : ''"><a routerLink="/users">Users</a></li>
            </ul>
        </div>
        <div class="right_section">
            <div class="search_box">
                    <i class="fa fa-circle-o-notch fa-spin" *ngIf="patientFilterLoading" style="font-size:24px"></i>
                <input type="text" id="inputBarcode" [(ngModel)]="comService.orderBarcode" (keyup)="patientFilter($event)" (click)="processOut($event)" placeholder="Type Here..." />
                <input type="button" />
                <ul [hidden]="!listStatus">
                        <!-- [routerLink]="'/profile/'+pat.ID" -->
                    <li *ngFor="let pat of comService.patientList;" (click)="diplayList(pat.ID)"><a href="javascript:;" > <span class="name-circle-thumb">{{comService.createDefaultImage(pat.PatientName)}}</span><div>{{pat.PatientName}}</div></a></li>
                </ul>
            </div>
            <div class="right_login_person">
                <a id="login_password" href="javascript:;">
                    <span class="name-circle-thumb">{{comService.createDefaultImage(AuthUserName)}}</span>
                    <p>{{AuthUserName}}</p>
                    <img src="assets/images/arrow_down.png" />
                </a>
                <div class="logout_my_account">
                    <ul>
                        <!-- <li id="close_me" ><a href="javascript:;"   ><span>My Profile</span></a></li> -->
                        <li id="close_me"><a href="javascript:;" (click)="logOut()"><span>Logout</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>

<router-outlet></router-outlet>
