.rx_content p{
    background-color: #fff;
    font-size: 20px;
    margin-bottom: 4px;
}
.new_accordian .btns a {
    margin-left: 10px;
}
.medication {
    margin-bottom: 0px;
}
i.fa.fa-pencil-square-o.editdel{float: right;
    color: #00A2E3;
    margin-top: 6px;
    }
    #createNewRunModal13{top:23%;}