<section id="wrapper">
    <div id="full_section" class="black-panel">
        <section id="for_more_padding">
                <div class="heading_column">
                        <div class="ticket_inner" id="section-1">
                            <h3>Agency <i *ngIf="status.mainLoader" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></h3>
                        </div>
                    </div>
            <div class="col-md-9">
                <div>
                    <input type="search" class="custom-input" placeholder="Search via Agency, Home, Bin Name, User, Barcode" (keyup)="searchAgencies($event)" />
                    <div class="custom-spiner" *ngIf="searchLoading['agency']">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <br />
                <br />
                <div *ngFor="let agency of agencies;let i=index" [class]="loader['getHome'][agency.AgencyID] ? 'panel panel-default selected-loader' : 'panel panel-default'">
                    <div class="panel-heading" (click)="comService.toggleGroup(agency.AgencyID);getHome(agency.AgencyID, true);">
                        <h4 class="panel-title">
                            <a href="javascript:;">
                  <i [class]="!comService.isGroupShown(agency.AgencyID) ? 'glyphicon glyphicon-plus' : 'glyphicon glyphicon-minus'"></i>
                  {{agency.AgencyName}}   
                </a>
                        </h4>
                    </div>
                    <div class="content_middle" *ngIf="comService.isGroupShown(agency.AgencyID)">
                        <div class="left_agency">
                            <h3>Homes</h3>
                            <div data-toggle="modal" data-target="#myModal_new" (click)="editAgency(agency)" class="edit-btn"> EDIT AGENCY</div>

                            <a href="javascript:;" data-toggle="modal" data-target="#home_modal" (click)="home_click(agency)"><i class="fa fa-plus"> </i> Home</a>
                            <div class="custom-spiner" *ngIf="loader['getHome'][agency.AgencyID]">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <div class="panel-group" *ngFor="let home of homes;let i = index;">
                                <div class="panel panel-default" *ngIf="home.AgencyID == agency.AgencyID">
                                    <div class="panel-heading home-head" role="tab" id="heading" (click)="Accordiance(home.HomeID);homePatsUsersFetched['homePatsFetched'][home.HomeID] ? false : viewHomePatients(home.HomeID)">
                                        <h4 class="panel-title home-title">
                                            <a class="home-a">
                                   <i [class]="accordianceResponse[home.HomeID] ? 'more-less glyphicon glyphicon-minus' : 'more-less glyphicon glyphicon-plus'"></i>
                                   </a> {{home.HomeName}} <span *ngIf="home.BinName">| Bin: {{home.BinName}}</span>

                                        </h4>
                                    </div>
                                    <div class="panel-collapse" *ngIf="accordianceResponse[home.HomeID]" droppable (onDrop)="onItemDrop($event, home.HomeID)">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <!--<p class="address-bar">
                                                        <img src="assets/images/home-icon-blue.png" /> 
                                                        {{home.Address1}}, {{home.City}}
                                                    </p>-->
                                                    <p class="address-bar" *ngIf="fullAddress[home.HomeID]"  data-toggle="modal" data-target="#homeAddress_modal" (click)="homeAddress_click(home)">
                                                        <img src="assets/images/home-icon-blue.png" />
                                                        <i class="fa fa-plus-circle add-address"></i>
                                                       {{fullAddress[home.HomeID]}}
                                                       
                                                    </p>
                                                    <p class="address-bar" *ngIf="!fullAddress[home.HomeID]"  data-toggle="modal" data-target="#homeAddress_modal" (click)="homeAddress_click(home)">
                                                        <img src="assets/images/home-icon-blue.png" />
                                                        <i class="fa fa-plus-circle add-address"></i>
                                                        <span  *ngIf="!home.Address1" class="addrAlt">Please add home address</span>
                                                        <span  *ngIf="home.Address1" class="addresbr">
                                                            {{home.Address1}}, {{home.Address2}}, {{home.Address1}}, {{home.City}}, {{home.Prov}} ({{home.Postal}})
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="col-md-1">
                                                    <span data-toggle="modal" data-target="#home_modal" (click)="edit_home(home)" class="edit-btn-home"> EDIT HOME</span>

                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-md-12">

                                                    <div class="text-center" [innerHTML]=" comService.htmlentities.decode(home.BinBarcodeImage)| keepHtml"></div>
                                                    <div class="text-center">{{home.BinBarcode}}</div>
                                                </div>
                                            </div> -->


                                            <div *ngIf="loader['getHomePatients'][home.HomeID]" class="small-loader">
                                                Please wait.....
                                            </div>
                                            <div *ngIf="homePatsUsersFetched['homePatsFetched'][home.HomeID]">
                                                <div class="row home-height">

                                                    <h3>
                                                        <img src="./assets/images/patient-icon.png"> Patients
                                                    </h3>
                                                    <div *ngFor="let droppedItem of droppedItems">
                                                        <div *ngIf="home.HomeID == droppedItem.HomeID" class="drag-user">
                                                                <div class="maind-leftvhmusr">
                                                                    <span class="home-user-circle-thumb">{{comService.createDefaultImage(droppedItem.FirstName+' '+droppedItem.LastName)}}</span>
                                                                </div>
                                                                <div class="maindvhmusr">
                                                                    {{getUserPatRel(HomePat.PatID)}}
                                                                    <div class="first-subdvhmusr">
                                                                        <span class="home-user-title">{{droppedItem.LastName}}, {{droppedItem.FirstName}}</span>
                                                                        <a href="javascript:;" (click)="GetCareGiverAssigned(HomePat); getRegularCaregiver(agency.AgencyID)" data-toggle="modal" data-target="#caregiver_user">Manage</a>
                                                                        <i [class]="loader['deleteHomePatients'][HomePat.id] ? 'home-user-delete-btn fa fa-spinner fa-spin' : 'home-user-delete-btn fa fa-trash'" (click)="loader['deleteHomePatients'][HomePat.id] ? false : delete_patient(HomePat)">
                                                                        </i>
                                                                    </div>
                                                                    <div class="second-subdvhmusr">
                                                                        <span *ngFor="let caregiver of regularCaregiverUsers[HomePat.PatID];">{{caregiver.userName}}</span>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div *ngFor="let HomePat of HomePats">
                                                        <div *ngIf="home.HomeID == HomePat.HomeID" class="drag-user" >
                                                            <div class="maind-leftvhmusr">
                                                                <span class="home-user-circle-thumb">{{comService.createDefaultImage(HomePat.FirstName+' '+HomePat.LastName)}}</span>
                                                            </div>
                                                            {{getUserPatRel(HomePat.PatID)}}
                                                            <div class="maindvhmusr">
                                                                <div class="first-subdvhmusr">
                                                                    <span class="home-user-title">{{HomePat.LastName}}, {{HomePat.FirstName}}</span>
                                                                    <a href="javascript:;" (click)="GetCareGiverAssigned(HomePat);getRegularCaregiver(agency.AgencyID)"  data-toggle="modal" data-target="#caregiver_user">Manage</a>
                                                                    <i [class]="loader['deleteHomePatients'][HomePat.id] ? 'home-user-delete-btn fa fa-spinner fa-spin' : 'home-user-delete-btn fa fa-trash'" (click)="loader['deleteHomePatients'][HomePat.id] ? false : delete_patient(HomePat)">
                                                                    </i>
                                                                </div>
                                                                <div class="second-subdvhmusr">
                                                                    <span *ngFor="let caregiver of regularCaregiverUsers[HomePat.PatID];">{{caregiver.userName}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Assign Caregiver user -->
                        <div id="caregiver_user" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Assign Caregiver to {{AssignToPatName}}</h4>
                                    </div>
                                    <form (ngSubmit)="assignCareGiverSave()" [formGroup]="CareGiverForm" >
                                        <div class="modal-body">
                                            <div class="form-group cregvrsc" >
                                                <!-- *ngIf="caregiverIsLoaded" -->
                                                    <span class="SubAreaLoading" *ngIf="caregiverIsLoaded" ><i class="fa fa-spinner fa-spin"></i></span>
                                                <span>Caregiver <em>*</em></span>
                                                <div class="multiselect-selectbox">
                                                    <ng-multiselect-dropdown [placeholder]="'Please assign caregiver'" [data]="ragularCaregiver"  formControlName="careGiver" [(ngModel)]="editAssignedCaregiver.careGiver" [settings]="dropdownSettings" name="careGiver">
                                                    </ng-multiselect-dropdown>
                                                </div>
                                            </div>
                        
                                            <div class="modal-footer cregvrfootr">
                                                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeUser234">Close</button>
                                                <button type="submit" class="btn btn-default">
                                                    <span *ngIf="!submitDisabled['userAssigned']">Save</span>
                                                    <span *ngIf="submitDisabled['userAssigned']">Saving <i class="fa fa-spinner fa-spin"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                <!-- Assign Creargiver user -->

                        <!--User Section-->
                        <div class="right_agency">
                            <h3>Users</h3>
                            <a href="javascript:;" data-toggle="modal" data-target="#user_modal" (click)="user_click(agency)"><i class="fa fa-plus"> </i> User</a>
                            <div class="patients">
                                <div class="custom-spiner" *ngIf="loader['getSuperUsers'][agency.AgencyID]">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                                <div *ngFor="let superUser of superUsers">
                                    <div class="col-md-2" *ngIf="superUser.AgencyID == agency.AgencyID">
                                        <h3 data-toggle="modal" data-target="#user_modal" (click)="editUser(superUser)">
                                            <a [class]="superUser.is_super == 1 ? 'super-user' : 'regular-user'">
                                                {{superUser.userName}}   
                                            <span class="edit-btn-user-edit">Edit</span>
                                            </a>

                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                <!-- <br /> <br />
                <div class="center">
                    <button type="button" class="load-more" (click)="getAgency()" *ngIf="load_more">Load More</button>
                </div> -->
            </div>
            <div class="col-md-3">
                <div class="addAgency-btn">
                    <a href="javascript:;" (click)="clickAgency()" data-toggle="modal" data-target="#myModal_new"><i class="fa fa-plus"> </i> Agency</a>
                </div>
                <br />
                <br />
                <div class="panel panel-default fixed-search">
                    <div class="panel panel-heading">
                        <h4 class="panel-title">
                            <a>Add Patients</a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <input type="search" class="custom-input" placeholder="Search Patients" (keyup)="searchPatients($event)" />
                        <div class="custom-spiner" *ngIf="showSearchLoading">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div class="patients-search-listing">
                            <h3 *ngFor="let patient of patients" draggable [dragData]="[patient, 'patientDrag']" class="search-patients">
                                {{patient.LastName}}, {{patient.FirstName}}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<div id="myModal_new" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{modal_title['agency']}}</h4>
            </div>
            <form novalidate [formGroup]="myForm" (ngSubmit)="saveAgency()">
                <div class="modal-body modal-body-new-ticket">
                    <div class="form-group">
                        <span>Name <em>*</em>  </span>
                        <input type="text" formControlName="AgencyName" [(ngModel)]="edit.AgencyName" name="AgencyName" />
                        <span class="fm-error" *ngIf="AgencyName.errors && (AgencyName.dirty || AgencyName.touched)">
                <span *ngIf="AgencyName.errors.required">Name is required</span>
                        <span *ngIf="AgencyName.errors.pattern">Please enter valid name</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <span>Phone</span>
                        <input type="text" formControlName="AgencyPhone" [(ngModel)]="edit.AgencyPhone" name="AgencyPhone" />
                    </div>
                    <div class="form-group">
                        <span>Address 1 </span>
                        <textarea formControlName="Address1"  [(ngModel)]="edit.Address1" name="Address1"></textarea>
                    </div>
                    <div class="form-group">
                        <span>Address 2</span>
                        <textarea formControlName="Address2" [(ngModel)]="edit.Address2" name="Address2"> </textarea>
                    </div>
                    <div class="form-group">
                        <span>City </span>
                        <input type="text" formControlName="City"  [(ngModel)]="edit.City" name="City" />
                      
                    </div>
                    <div class="form-group">
                        <span>Province </span>
                        <input type="text" formControlName="Prov"  [(ngModel)]="edit.Prov" name="Prov" />
                  
                    </div>
                    <div class="form-group">
                        <span>Postal</span>
                        <input type="text" formControlName="Postal" [(ngModel)]="edit.Postal" name="Postal" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseButton">Close</button>
                    <button type="submit" class="btn btn-default" [disabled]="submitDisabled['agencySubmit']">
                        <span *ngIf="!submitDisabled['agencySubmit']">Save</span>
                        <span *ngIf="submitDisabled['agencySubmit']">Saving <i class="fa fa-spinner fa-spin"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Home Modal -->
<div id="home_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="CloseButton2">&times;</button>
                <h4 class="modal-title">{{modal_title['home']}}</h4>
            </div>
            <form (ngSubmit)="homeSubmit()" [formGroup]="homeForm">
                <div class="modal-body">
                    <div class="form-group">
                        <span>Name <em>*</em></span>
                        <input type="text" formControlName="HomeName" [(ngModel)]="home.HomeName" name="HomeName" />
                        <span class="fm-error" *ngIf="HomeName.errors && (HomeName.dirty || HomeName.touched)">
                        <span *ngIf="HomeName.errors.required">Name is required</span>
                        <span *ngIf="HomeName.errors.pattern">Please enter valid name</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <span>Phone Number</span>
                        <input type="text" formControlName="HomePhone" [(ngModel)]="home.HomePhone" name="HomePhone" />
                    </div>
                    <div class="form-group">
                        <span>Bin Name</span>
                        <input type="text" formControlName="BinName" [(ngModel)]="home.BinName" name="BinName" />
                    
                    </div>
                    <div class="form-group">
                        <span>Area </span>
                        <select formControlName="Area" [(ngModel)]="home.Area" name="Area"  (change)="getSubArea($event)">
                                <option value="" disabled selected>--Select Area--</option>
                            <option [value]="area.AreaID" *ngFor="let area of HomeArea;">{{area.AreaName}}</option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="isAreaSelected || home.Area">
                        <span>SubArea</span>
                        {{getSubAreaByArea(home.Area,home.HomeID)}}
                        <span class="SubAreaLoading" *ngIf="subAreaIsLoaded"><i class="fa fa-spinner fa-spin"></i></span>
                        <select formControlName="SubArea" [(ngModel)]="home.SubArea" name="SubArea">
                            <option value="" disabled selected>--Select Sub-Area--</option>
                            <option [value]="subArea.SubAreaID" *ngFor="let subArea of HomeSubArea;">{{subArea.SubAreaName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span>Delivery Day </span>
                        <select formControlName="DefaultDeliveryDay" [(ngModel)]="home.DefaultDeliveryDay" name="DefaultDeliveryDay">
                            <option value="0">Sunday</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thusday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Delivery Time </span>
                        <input type="time" formControlName="DefaultDeliveryTime" [(ngModel)]="home.DefaultDeliveryTime" name="DefaultDeliveryTime" />
                    
                    </div>
                    <!-- <div class="form-group">
                        <span>Delivery Instructions<em>*</em></span>
                        <textarea required formControlName="DeliveryInstructions" [(ngModel)]="home.DeliveryInstructions" name="DeliveryInstructions"></textarea>
                        <span class="fm-error" *ngIf="DeliveryInstructions.errors && (DeliveryInstructions.dirty || DeliveryInstructions.touched)">
                        <span *ngIf="DeliveryInstructions.errors.required">Delivery Instructions is required</span>
                        </span>
                    </div> -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeHome1">Close</button>
                        <button type="submit" class="btn btn-default" [disabled]="submitDisabled['homeSubmit']">
                            <span *ngIf="!submitDisabled['homeSubmit']">Save</span>
                            <span *ngIf="submitDisabled['homeSubmit']">Saving <i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!---->
<!-- User Modal -->
<div id="user_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{modal_title['user']}}</h4>
            </div>
            <form (ngSubmit)="userSubmit()" [formGroup]="userForm">
                <div class="modal-body">
                    <div class="form-group">
                        <span>Name <em>*</em></span>
                        <input type="text" formControlName="userName" [(ngModel)]="edit_user.userName" name="userName" />
                        <span class="fm-error" *ngIf="userName.errors && (userName.dirty || userName.touched)">
                <span *ngIf="userName.errors.required">Name is required</span>
                        <span *ngIf="userName.errors.pattern">Enter valid name</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <span>Email <em>*</em></span>
                        <input type="text" formControlName="email" [(ngModel)]="edit_user.email" name="email" />
                        <span class="fm-error" *ngIf="email.errors && (email.dirty || email.touched)">
                <span *ngIf="email.errors.required">Email is required</span>
                        <span *ngIf="email.errors.pattern">Wrong Email format, try again</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <span>Password <em>*</em></span>
                        <input type="text" formControlName="password" [(ngModel)]="edit_user.password" name="password" />
                        <span class="fm-error" *ngIf="password.errors && (password.dirty || password.touched)">
                <span *ngIf="password.errors.required">Password is required</span>
                        <span *ngIf="password.errors.minlength">Password must be 8 characters long</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <span>Phone</span>
                        <input type="text" formControlName="phone" [(ngModel)]="edit_user.phone" name="phone" />
                    </div>

                    <div class="form-group">
                        <span>User Type <em>*</em></span>
                       <select formControlName="is_super" [(ngModel)]="edit_user.is_super">
                        <option value="1">Super</option>
                        <option value="2">Regular</option>
                       </select>
                       <span class="fm-error" *ngIf="is_super.errors && (is_super.dirty || is_super.touched)">
                        <span *ngIf="is_super.errors.required">User type is required</span>
                        </span>
                    </div>
                    <div class="modal-footer">


                        <i *ngIf="edit_user.user_id" [class]="searchLoading['deleteUser'] ? 'delete-user-btn fa fa-spinner fa-spin' : 'delete-user-btn fa fa-trash'" (click)="searchLoading['deleteUser'] ? false : deleteUser(edit_user.user_id, edit_user.AgencyID)">
                    </i>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeUser1" style="background: #333;">Close</button>
                        <button type="submit" class="btn btn-default" [disabled]="submitDisabled['userSubmit']">
                            <span *ngIf="!submitDisabled['userSubmit']">Save</span>
                            <span *ngIf="submitDisabled['userSubmit']">Saving <i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!---->

<!-- Home Address Modal -->
<div id="homeAddress_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Address</h4>
            </div>
            <br />
            <div class="form-group" style="padding: 10px">
                <span class="loadingAddress" *ngIf="AddressLoading"><i class="fa fa-spinner fa-spin"></i></span>
                        
                <select class="form-control" (change)="addressBoxChange($event)">
                    <option value="0">Select Address / Create New</option>
                    <option [value]="myAddress.HomeAddressesID" *ngFor="let myAddress of home_addresses[CurrentHomeID]">
                        {{myAddress.Address1}}, {{myAddress.Address2}}, {{myAddress.City}}, {{myAddress.Prov}} ({{myAddress.Postal}})
                    </option>
                </select>
            </div>
            <form (ngSubmit)="homeAddressSubmit()" [formGroup]="homeAddressForm">
                <div class="modal-body">
                    <div class="form-group">
                        <span>Title <em>*</em></span>
                        <input type="text" required formControlName="Title"  />
                        <span class="fm-error" *ngIf="Title.errors && (Title.dirty || Title.touched)">
                            <span *ngIf="Title.errors.required">Title is required</span>
                        </span>
                    </div>

                    <div class="form-group tck-order-sec">
                        <span>Primary</span>
                        <input type="checkbox" value ="1" formControlName="Active"  [checked]="isPrimary"  />
                    </div>
                    
                    <div class="form-group">
                        <span>Address1</span>
                        <textarea  formControlName="HomeAddress1"></textarea>
                        <span class="fm-error" *ngIf="HomeAddress1.errors && (HomeAddress1.dirty || HomeAddress1.touched)">
                            <span *ngIf="HomeAddress1.errors.required">Address1 is required</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <span>Address2</span>
                        <textarea formControlName="HomeAddress2" ></textarea>
                        <!-- <span class="fm-error" *ngIf="HomeAddress2.errors && (HomeAddress2.dirty || HomeAddress2.touched)">
                            <span *ngIf="HomeAddress2.errors.required">Address2 is required</span>
                        </span> -->
                    </div>
                    
                    <div class="form-group">
                        <span>City </span>
                        <input type="text" formControlName="HomeCity"/>
                        <span class="fm-error" *ngIf="HomeCity.errors && (HomeCity.dirty || HomeCity.touched)">       
                            <span *ngIf="HomeCity.errors.required">City is required</span>
                            <span *ngIf="HomeCity.errors.pattern">Enter valid City</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <span>Province </span>
                        <input type="text" formControlName="HomeProv" />
                        <span class="fm-error" *ngIf="HomeProv.errors && (HomeProv.dirty || HomeProv.touched)">
                            <span *ngIf="HomeProv.errors.required">Province is required</span>
                            <span *ngIf="HomeProv.errors.pattern">Enter valid Province</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <span>Postal</span>
                        <input type="text" formControlName="HomePostal"/>
                    </div>
                    <div class="form-group">
                        <span>Delivery Instruction </span>
                        <textarea  formControlName="DeliveryInstructions" ></textarea>
                        <span class="fm-error" *ngIf="DeliveryInstructions.errors && (DeliveryInstructions.dirty || DeliveryInstructions.touched)">
                            <span *ngIf="DeliveryInstructions.errors.required">Delivery instruction is required</span>
                        </span>
                    </div>
                    
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeHomeAddress">Close</button>
                        <button type="submit" class="btn btn-default" [disabled]="submitDisabled['homeSubmit']">
                            <span *ngIf="!submitDisabled['homeSubmit']">Save</span>
                            <span *ngIf="submitDisabled['homeSubmit']">Saving <i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!---->