
.custom-input {
    font-weight: normal;
    font-family: 'Roboto-Light';
    color: #000;
    background-color: #fff;
    border: 1px solid #eeeeee;
    height: 48px;
    padding: 0 10px;
    width: 100%;
    font-size: 16px;
}

 .addAgency-btn a {
    background-color: #009fe9;
    color: #fff;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration:none;
    margin-bottom: 20px;
    margin-right: 23px;
    padding: 15px;
}
 .heading_main {
    float: left;
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Roboto-Light';
    margin:20px 0 0;
}
 .heading_main h2 {
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px;
}

 .content_middle #accordion1 .panel.panel-default:first-child {
    padding-left: 0;
}
 .content_middle #accordion1 .panel.panel-default:last-child {
    padding-right: 0;
}
 #collapseOne_new {
    float: left;
    width: 100%;
}
 .content_middle h3 {
    margin: 0;
    font-weight: normal;
    font-family: 'Roboto-Light';
    font-size: 26px;
    color: #009FE9;
    float: left;
    margin: 6px 0 0 0;
}
 .content_middle a {
    float: right;
    background-color: #009fe9;
    color: #fff;
    width: 125px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}
 .content_middle #accordion {
    float: left;
    width: 100%;
    margin-top: 20px;
    border: none;
    background: none;
}
 .content_middle .panel-heading {
    float: left;
    width: 100%;
    padding: 0 !important;
}
 .content_middle .left_agency .panel.panel-default {
    float: left;
    width: 50%;
    padding: 0 10px;
    border: none;
}
 .content_middle .panel-title a {
    float: left;
    width: 100%;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    background-color: #333;
    text-align: left;
    padding: 0 10px;
}
 .content_middle .panel-title i {
    float: right;
    background-color: #333;
    color: #fff;
    font-family: 'Roboto-Medium';
    font-size: 40px;
    padding: 5px 17px;
    position: absolute;
    right: 0;
    top: 0px;
}
 .black-panel h2.panel-title a {
    color: #009FE9;
    font-family: 'Roboto-Light';
    font-size: 25px;
}
 .black-panel h2.panel-title a i {
    padding: 8px 17px;
}
 .content_middle .panel-collapse {
    float: left;
    width: 100%;
    border: 1px solid #333;
}

 .left_agency {
    padding: 25px;
}
 .right_agency {
    padding: 25px;
    float: right;
    width: 100%;
    border-top : 1px solid #f3f3f3;
    margin-top : 10px;  
    background: #f3f3f3;  
}
 .patients, .patients h3, .patients h3 a, .patients_main {
    float: left;
    width: 100%;
}
 .patients {
    margin-top:30px;
}

 .patients h3 {
    margin-top:20px;
    cursor : pointer;
}


.patients-search-listing {
    background: #fff;
    max-height: 600px;
    overflow-y: scroll;
    margin-top: 10px;
}

 .patients h3 a {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}
 .patients_main.users_main {
    float: left;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #f3f3f3;
    padding-top: 50px;
}
 .super-user {
    background-color: #40B300 !important;
    color: #fff !important;
    border: none !important;
    text-align: left !important; 
    padding-left: 10px;
}

.regular-user {
    background-color: #008080 !important;
    color: #fff !important;
    border: none !important;
    text-align: left !important; 
    padding-left: 10px;
}
 .users_main .patients h3 a {
    background-color: #333;
    color: #fff;
    border: none;
}
 .accordion-top {
    float: left;
    width: 100%;
    margin-top: 30px;
    border: none;
    background: none;
}


 .panel-group {
    width: 100%;
    background-color: transparent;
    border: none;
    margin-top: 80px;
}


#full_section {
  margin-top: 83px;
  width: 100%;
}
#caregiver_user{top: 20%;}
.sm-btn {
    text-align: center !important;
    float: none !important;
    padding: 5px !important;
    font-size: 12px !important;
    background-color: #009fe9 !important;
}
/*New CSS ENDS HERE*/


/* popup */


.modal-body-new-ticket .form-group:nth-child(2n+2) {
    margin: 0;
  }
  .modal-body-new-ticket .form-group {
    float: left;
    margin-right: 10px;
    width: 49%;
  }
.modal-body-new-ticket .form-group span {
    margin-bottom: 11px;
    width: 100%;
  }
.modal-body-new-ticket  .form-group select,   .modal-body-new-ticket  .form-group input[type="text"], .modal-body-new-ticket  .form-group textarea {
    padding: 0 10px;
    width: 100%;
  }

  .home-height {
    height: 360px;
    overflow-y: scroll;
  }

  .small-loader {
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
  }

  .home-small-title {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 15px;
    line-height: 27px;
    text-align : center;
    cursor : pointer;
    margin-bottom: 0px;
  }

  .edit-btn {
    color: #009fe9;
    font-size: 12px;
    letter-spacing: 2px;
    cursor : pointer;
    text-align :center;
  }

  .edit-btn-home {
    color: #009fe9;
    font-size: 12px;
    letter-spacing: 2px;
    cursor : pointer;
    float : right;
    
  }

  .edit-btn-user-edit {
    all: unset;
    color: #fff;
    font-size: 12px;
    padding-right: 10px;
    letter-spacing: 2px;
    float: right;
  }

  .home-a {
    width: 10% !important;
    float: right !important;
  }

  .home-title {
    line-height: 50px;
    padding-left: 12px;
    font-size: 19px;
    letter-spacing: 1px;
  }

  .home-user-circle-thumb {
    background: #009ee9;
    border-radius: 50%;
    color: #fff;
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0 0 0 20px;
    line-height: 42px;
}

.home-user-title {
    float: left;
    line-height: 51px;
    margin-left: 10px;
    width: 70%;
}

.drag-user {
    border-bottom: 1px solid #f3f3f3;
    float: left;
    width: 100%;
    padding: 10px 0;
}

.search-patients {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    cursor: all-scroll;
}
.maind-leftvhmusr{width: 12%;float: left;}
.maindvhmusr{width: 80%;float: left;}
.first-subdvhmusr{float: left; width: 100%;}
.second-subdvhmusr{float: left; width: 100%;}
.second-subdvhmusr span{
    border: 1px solid #333;
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 5px;
    color: #fff;
    background: #333;
}
.panel-body .addresbr{    position: relative;
    line-height: 20px; background: none;
    right: -1%;}
.panel-body .addrAlt{ position: relative;     background: none;line-height: 20px; right: -1%; color:red;}
.first-subdvhmusr a{ float: left;
    font-size: 11px;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 80px;
    margin-top: 20px;
    line-height: 2;}
.home-user-delete-btn {
    float : right;
    // margin-right: 30px;
    font-size: 16px;
    padding-top: 20px;
}

.fixed-search {
    width: 24% !important;
    position: fixed;
}

.delete-user-btn {
    float: left;
    font-size: 20px;
    cursor : pointer;
}

.address-bar {
    margin: 0 0 12px;
    padding: 11px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 15px;
    line-height: 27px;
    color: #000;
    border: none;
    text-transform: capitalize;
}

.form-group.cregvrsc {
    float: LEFT;
    width: 64%;
}
.modal-footer.cregvrfootr {
    float: right;
    width: 35%;
}
.multiselect-dropdown .dropdown-btn {
    padding: 5px 12px 0px 10px !important;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.home-height h3 {
    color: #333333;
    margin: 10px 0 10px 20px;
}
.col-md-3{float: left;}
 #homeAddress_modal .loadingAddress{position: absolute;right: 3%;}
 #homeAddress_modal .loadingAddress i {font-size: 20px;margin-top: 7px;color: #00A2E3;}
#home_modal .SubAreaLoading{position: absolute;right: -6%;}
#caregiver_user .SubAreaLoading {position: absolute;right: 28%;}
#caregiver_user .SubAreaLoading i,  #home_modal .SubAreaLoading i {font-size: 20px;margin-top: 7px;color: #00A2E3;}


@media (max-width : 1199px){

    .home-user-title[_ngcontent-c1] {
        margin-left: 41px;
        
    }
}