.ticketOred {
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,0.5);
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 75px;
}
.ticketOred i.fa.fa-circle-o-notch.fa-spin{
font-size: 30px;
color: #fff;
}
.ticket_inner.iner-order a{border: none;}

.tickets_card .ticket_inner span.click_top {
    top: 14px;
    right: 20px;
}
@media (max-width : 1199px){

    .auto-mat .ticket_inner span {float: left; width: 20%;}
    .ticket_inner .orderIconC {height: 27px; width: 27px; line-height: 28px; }
    .ticket_inner.iner-order a { padding: 2px 11px;}
}

@media (max-width : 1400px){
    .auto-mat .ticket_inner span {float: left; width: 20%;}
    .ticket_inner .orderIconC {height: 27px; width: 27px; line-height: 28px; }
    .ticket_inner.iner-order a { padding: 2px 11px;}
}