<div class="heading_column">
    <div class="ticket_inner" id="section-1">
        <h3>New <i *ngIf="status.mainLoader" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></h3>
    </div>
</div>
<div class="cloumn_three">
    <!-- section-second -->
    <div class="prdc-sec-one">
        <div class="col-sm-12 col-xs-12 col-md-12 orderbatchSec">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xs-12 tickets_card " *ngFor="let automated of comService.batches[0];let k = index;">
                <div class="ticket_inner title-tikt" >
                    <div class="ticketOred"  *ngIf="oredrLoader[automated.BatchNum]"><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></div>
                    <h3 data-toggle="collapse" attr.data-target="#second_card-{{k}}" aria-expanded="true" >{{automated.Description}} Batch <span>#{{automated.BatchNum}}</span></h3>
                    <span class="click_top">
                        <a href="javascript:;">
                            <i class="fa orderIconC"  (click)="!automated.isSelected? orderBatchCard(automated):''" [ngClass]="{'fa-check':automated.isSelected, 'fa-ticket': !automated.isSelected}" ></i>
                        </a> 
                        <!-- <a href="javascript:;" class="atth-tkt-inner-icon-plus" data-toggle="collapse" attr.data-target="#second_card-{{k}}" aria-expanded="true"></a> -->
                    </span>
                </div>
                <div id="second_card-{{k}}" class="new_accordian collapse" aria-expanded="true">
                    <div class="loader-img" *ngIf="status.loader[automated.BatchNum]">
                        <img src="assets/images/loading.gif">
                    </div>
                    <div class="iner-ord-crt-date">
                        <p>Created on: <span>{{automated.DateCreated | date: 'MMM dd,yyyy'}}</span></p>
                    </div>
                    <div class="iner-ord-crt-date Start-date">
                        <p>Start Date : <span>{{automated.StartDate | date: 'MMM dd,yyyy'}}</span></p>
                    </div>
                    <div class="iner-ord-crt-date Start-date">
                        <p>End Date : <span>{{automated.EndDate | date: 'MMM dd,yyyy'}}</span></p>
                    </div>
                    <div class="orders inner-attach-orders">
                        <div class="order-sec">
                            <h2>Patient cards</h2>
                            <a href="javascript:;" class="attachd-tkt" [ngClass]="{'atth-tkt-icon-plus':!attachTicketMainIcon[automated.BatchNum] ,'atth-tkt-icon-minus':attachTicketMainIcon[automated.BatchNum]}" rel="{{automated.BatchNum}}" (click)="getBatchDetails($event)" ></a>
                        </div>
                        <div class="col-sm-12 col-xs-12 tickets_card inner_order">
                            <div class="col-sm-12 col-xs-12 bth-one"  *ngFor="let batchDetils of BatchDetails[automated.BatchNum]; let j = index;">
                                <div class="ticket_inner" data-toggle="collapse" attr.data-target="#inner_card2-{{automated.BatchNum+batchDetils.Patients.PatId}}"><h3>{{batchDetils.Patients.LastName+', '+batchDetils.Patients.FirstName}} </h3>
                                        <!-- <div class="action_order">
                                            <ul>
                                                <li class="actions_inner">Actions</li>
                                                <li><a href="javascript:;">Print Order</a></li>
                                            </ul>
                                        </div> -->
                                </div>
                                <div id="inner_card2-{{automated.BatchNum+batchDetils.Patients.PatId}}" class="collapse new_accordian">
                                    <div class="medication">
                                        <h2>Medication</h2>
                                        <div class="" *ngFor="let rxDetail of batchDetils.RXDetails; let l = index;">
                                            <p class="rx_tab" data-toggle="collapse" attr.data-target="#first_rx2-{{rxDetail.RxNum}}">Rx {{rxDetail.RxNum}} - {{rxDetail.GenericName}} {{rxDetail.Strength}}</p>
                                            <div id="first_rx2-{{rxDetail.RxNum}}" class="collapse new_accordian">
                                                <div class="rx_content">
                                                    <div class="left_med">
                                                        <p>Brand: {{rxDetail.BrandName}}</p>
                                                        <p>{{rxDetail.GenericName}}  {{rxDetail.Strength}}</p>
                                                        <p>{{rxDetail.doctor}}</p>
                                                    </div>
                                                    <div class="right_med_img">
                                                        <ul>
                                                            <li><img src="assets/images/img_1.jpg"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="full_content">
                                                        <p>{{rxDetail.SIG}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ticket_info">
                                        <h2>Ticket Info</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                        <h2>Discussion</h2>
                                        <div class="chat_box_full">
                                            <div class="scroll_chat">
                                                <div class="chat_box">
                                                    <div class="chats">
                                                        <img src="assets/images/login_person.png"> <p>lorem Ipsum Dolor Sit Amet,lorem Ipsum Dolor.</p> <span>28 Feb 2018, <i>From Me</i>, Now</span>
                                                    </div>
                                                </div>
                                                <div class="chat_box right">
                                                    <div class="chats">
                                                        <img src="assets/images/login_person.png"> <p>lorem Ipsum Dolor Sit Amet,lorem Ipsum Dolor.</p> <span>28 Feb 2018, <i>From Demo</i>, Now</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="type_message">
                                                <textarea placeholder="Type Message Here..."></textarea> <input type="button">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
