#createDeliveryModal{
    top:3%;
}
.modal-body .form-group span{
    width: 20%;
}
.modal-body .form-group select, .modal-body .form-group input, .modal-body .form-group input[type="number"], .modal-body .form-group input[type="text"], .modal-body .form-group textarea{
    width: 79%;
}

#createDeliveryModal .form-group{width: 49%; float: left;}
#createDeliveryModal .modal-body .form-group span, #createDeliveryModal .modal-body .form-group input,
#createDeliveryModal .modal-body .form-group select,#createDeliveryModal .modal-body .form-group input[type="checkbox"],#createDeliveryModal .modal-body .form-group textarea{width: 100%; float: left;}
#createDeliveryModal .modal-body .form-group:nth-child(2n+2) {
  margin: 0;
}

#createDeliveryModal .modal-body .form-group:nth-child(2), #createDeliveryModal .modal-body .form-group:nth-child(4),#createDeliveryModal .modal-body .form-group:nth-child(6),#createDeliveryModal .modal-body .form-group:nth-child(8),#createDeliveryModal .modal-body .form-group:nth-child(10) {
  margin-right: 20px !important;
}
#createDeliveryModal .modal-body .form-group:nth-child(5),#createDeliveryModal .modal-body .form-group:nth-child(7),#createDeliveryModal .modal-body .form-group:nth-child(9) {
  margin: 0;
}
.ticket_inner .address-alt{color:red;}
.ticket_inner .inbin-tckt-crd-sec .inbin-tckt-crd-sec .error-pkg{text-align: center;
  width: 100%;
  float: left;
  padding: 17px 0px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 18px;
  color: #ccc;}
.conversation .circle{    border-radius: 50%;
  height: 32px;
  width: 32px;
  background: #00A2E3;
  border: 1px solid #fff;}
.conversation .circle i {
    font-size: 14px;
}
.delveryec{font-size: 23px;
  text-align: center !important;}
  .tickets_card .ticket_inner .click_top.arv-icon {
    right: 73px !important;
    top: 13% !important;
}
.tickets_card .ticket_inner .click_top.arv-icon a img{height: 32px;}
.even-inner-order .ticket_inner span.click_top {right: 34px !important;top: 9%!important;}
.deliver_new_sec .form-group span {color: #fff;font-size: 14px;}
.bnorder i.fa.fa-pencil-square-o.editdel {
    float: right;
    color: #00A2E3;
}