<div *ngFor="let HomeArea of comService.area">
    <div class="heading_column" id="awaitingBin" >
        <div class="ticket_inner section-6" id="section-6"><h3>{{HomeArea.Area.AreaName}}</h3></div>
    </div>

<div *ngFor="let SubArea of HomeArea.SubArea" >
    <div class="sub_heading_column">
        <h3 id="section-8"><span>{{SubArea.SubAreaName}}</span></h3> 
    </div>
    <div  *ngFor="let bin of comService.inBin; let i = index;">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 tickets_card" *ngIf="bin.Home.SubAreaID == SubArea.SubAreaID" >
        <div class="ticket_inner" [ngClass]="comService.ticketStatusColor[bin.Home.DefaultDeliveryDay]" data-toggle="collapse" attr.data-target="#even_card{{i}}-{{bin.Home.HomeID}}" aria-expanded="true">
            <h3>{{bin.Home.BinName}}|{{bin.Home.HomeName}} <span># {{bin.Home.TotalOrders}}</span></h3>
        </div>
        <div id="even_card{{i}}-{{bin.Home.HomeID}}" class="new_accordian collapse" aria-expanded="true" style="">
            <p><img src="assets/images/home-icon-blue.png">
                <span  *ngIf="!bin.Home.Address1" class="address-alt">Please add address</span>
                <span  *ngIf="bin.Home.Address1">{{bin.Home.Address1}}, {{bin.Home.Address2}}, {{bin.Home.City}}, {{bin.Home.Prov}} ({{bin.Home.Postal}})</span>
                </p>
            <div class="loader-img" *ngIf="status.loader[bin.Home.HomeID]">
                <img src="assets/images/loading.gif">
            </div>
            <div class="in-bin-ptn-sec">
                <h3><img src="./assets/images/patient-icon.png">Patients</h3>
                <div class="in-bin-inner-sec"  *ngFor="let patCrt of bin.PatCard; let j = index;">
                    <p *ngIf="patCrt.PatID != null">{{patCrt.LastName+', '+patCrt.FirstName}}</p>
                    <p *ngIf="patCrt.PatID == null" class="empty-pat">No patient assigned</p>
                </div>
            </div>
            <div class="inbin-tckt-crd-sec">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 tickets_card new_accordian">
                    <div class="orders">
                        <div class="order-sec">
                            <h2>Orders</h2>
                        </div>
                        <div  class="col-sm-12 col-xs-12 tickets_card inner_order" style="display: block;">
                            <div class="col-sm-12 col-md-12 col-xs-12 bth-one" *ngIf="bin.Home.TotalOrders == 0">
                                <span class="eror-pkg">No order found!</span>
                            </div>
                        </div>
                        <div *ngFor="let orderCard of comService.inBinOrderCard; let l = index;">
                            <div class="col-sm-12 col-xs-12 tickets_card inner_order" style="display: block;" *ngIf="orderCard.HomeID == bin.Home.HomeID">
                                <!-- {{counter(orderCard)}} -->
                                <div class="col-sm-12 col-xs-12 bth-one">
                                    <div class="ticket_inner" [ngClass]="comService.ticketStatusColor[comService.getWhichDay(orderCard.DeliveryDate)]"  (click)="!ConService.iHaveTicketConversations[orderCard.PharmacyTicketID] ? ConService.getConversation(orderCard.PharmacyTicketID) : ''" draggable [dragData]="orderCard">
                                        <h3 data-toggle="collapse" attr.data-target="#inbin_tctcard{{l}}-{{orderCard.OrderID}}" >{{orderCard.LastName}},{{orderCard.FirstName}} </h3> 
                                        <span class="click_top"><a href="javascript:;" (click)="prnt.print(orderCard.OrderID)" >
                                                <img src="assets/images/prnt-icon.png"></a>
                                        </span>
                                        <!-- <a href="javascript:;" data-toggle="collapse" attr.data-target="#inbin_tctcard{{l}}-{{orderCard.PatID}}" class="innerIcn" [ngClass]="{'atth-tkt-inner-icon-plus':!comService.returnClass[l+'inBinOr'+orderCard.PatID],'atth-tkt-inner-icon-minus':comService.returnClass[l+'inBinOr'+orderCard.PatID]}" (click)="comService.managePatCardCollapse($event,l+'inBinOr'+orderCard.PatID);"  ></a> -->
                                    </div>
                                    <div id="inbin_tctcard{{l}}-{{orderCard.OrderID}}" class="new_accordian collapse bnorder" aria-expanded="true" style="">
                                        <p>Created by: {{orderCard.createdBy}} |  on: {{orderCard.DateCreated | date:'EEEE, MMMM d, y, h:mm a':'GMT'}}</p> 
                                        <p>Delivery Date: {{orderCard.DeliveryDate | date:'EEEE, MMMM d, y, h:mm a':'GMT' }} <i class="fa fa-pencil-square-o editdel" aria-hidden="true"  data-toggle="modal" data-target="#createNewRunModal12" (click)="changeDeliveryDate(orderCard.PharmacyTicketID, orderCard.DeliveryDate)"></i></p>  
                                        <div class="collapse new_accordian" style="display:block;" *ngIf="orderCard.Details">
                                            <div class="medication">
                                                <div *ngIf="orderCard.Details.split(';').length > 1">
                                                        <p class="rx_tab">CHANGES:{{orderCard.Details.split(';')[0]}}</p>    
                                                        <p class="rx_tab">ACTION:{{orderCard.Details.split(';')[1]}}</p> 
                                                    <div *ngFor="let strip of jsonParse(orderCard.Details.split(';')[2]);">
                                                        <p class="rx_tab">{{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.deliveryDate | date:'MMMM d, y'}}</p>    
                                                    </div>
                                                </div>
                                                <div *ngIf="orderCard.Details.split(';').length ==1">
                                                    <p class="rx_tab" >{{orderCard.Details}}</p>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="collapse new_accordian" style="display:block;"  *ngIf="orderCard.TicketType == 4 || orderCard.TicketType == 2">
                                            <div class="medication">
                                                    <h2>Medications</h2>
                                                <span>{{getMedication(orderCard.OrderID)}}</span>
                                                <div *ngFor="let med of this.medication[orderCard.OrderID];">
                                                    <p class="rx_tab" data-toggle="collapse" attr.data-target="#first_rxb{{med.OrderID}}-{{med.RxNum}}">Rx {{med.RxNum}} - {{med.BrandName}} {{med.Strength}}</p>
                                                    <div id="first_rxb{{med.OrderID}}-{{med.RxNum}}" class="collapse new_accordian">
                                                        <div class="rx_content">
                                                            <div class="left_med">
                                                                <p>Brand: {{med.BrandName}}</p>
                                                                <p>{{med.GenericName}}  {{med.Strength}}</p>
                                                                <p>{{med.doctor}}</p>
                                                            </div>
                                                            <div class="right_med_img">
                                                                <ul>
                                                                    <li><img src="assets/images/img_1.jpg"></li>
                                                                </ul>
                                                            </div>
                                                            <div class="full_content">
                                                                <p>{{med.SIG}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h2>Discussion</h2>
                                        <div class="conversation">
                                            <form (ngSubmit)="ConService.saveConversation(orderCard.PharmacyTicketID)">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                            <input type="text"  placeholder="Type Here..."  autocomplete="off"  [(ngModel)]="ConService.data.Msg[orderCard.PharmacyTicketID]" name="Msg" class="form-control">
                                                    </div>
                                                    <div class="col-md-2 txt">
                                                        <button type="submit" class="circle" [disabled]="!ConService.data.Msg[orderCard.PharmacyTicketID]">
                                                            <i name="md-send" class="fa fa-paper-plane"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="conversation-container">
                                                <div *ngIf="ConService.loadingTicketConversations[orderCard.PharmacyTicketID]" class="custom-spiner">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </div>
                                                <div *ngFor="let chat of ConService.ticketConversations[orderCard.PharmacyTicketID]">
                                                    <div [ngClass]="chat.UserID != auth.authCheck()['user_id'] ? 'message received' : 'message sent'">
                                                            <span class="cht-usr-nm">{{comService.createDefaultImage(chat.name)}}</span>
                                                            {{chat.Msg}}
                                                        <span class="metadata">
                                                            <span class="time">
                                                                    <!-- {{chat.name}}, -->
                                                                    <span *ngIf="chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                                    <span *ngIf="!chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div id="{{'content_bottom_'+orderCard.PharmacyTicketID}}" style="margin-top: 200px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="print-section-{{orderCard.OrderID}}" style="display:none">
                                <div class="mainsec" style="margin: 0 auto;width : 700px">
                                    <div style="float: left;width : 100%">
                                        <img src="{{comService.baseUrl}}assets/images/logo.png" height="45" width="250">
                                    </div>
                                    <div class="topbarcode-sec" style="float: left;width : 100%">
                                        <h2 style="font-size: 30px;display: inline-block; color: #4B672D">{{orderCard.FirstName}} {{orderCard.LastName}}</h2>
                                        <div style="float: right;padding: 41px 0px;width: 19%;">
                                            <div  [innerHTML]="comService.htmlentities.decode(orderCard.BarCodeImage)| keepHtml"></div>
                                            <p style="margin-left:15px; display:inline-block; font-size:10px; letter-spacing:4px;margin-top:-5px;position:relative;top:7px;">{{orderCard.BarCode}}</p>
                                        </div>
                                    </div>
                                    <div class="table-cnt" style="float: left; width: 100%; border: 1px solid #dadada;">
                                        <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                                            <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Delivery Date</li>
                                            <li  style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;" ><span>{{orderCard.DeliveryDate |date:'MMM dd, yyyy'}}</span></li>
                                        </ul>
                                        <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                                            <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Date Recorded</li>
                                            <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{orderCard.DateCreated |date:'MMM dd, yyyy'}}</span></li>
                                        </ul>
                                        <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;" *ngIf="orderCard.Pharmacist">
                                                <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Pharmacist</li>
                                                <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{orderCard.Pharmacist}}</span></li>
                                            </ul>
                                        <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                                            <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Tech.</li>
                                            <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{orderCard.createdBy}}</span></li>
                                        </ul>
                                        <ul style="float: left; width: 100%; padding: 0; margin: 0;">
                                            <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;">Description</li>
                                            <li style=" list-style: none; float: left; width: 70%; border-left: 1px solid #dadada; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;">
                                                <div *ngIf="orderCard.Details.split(';').length > 1">
                                                    <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;">CHANGES: {{orderCard.Details.split(';')[0]}}</span>
                                                    <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;">ACTION: {{orderCard.Details.split(';')[1]}}</span>
                                                    <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;" *ngFor="let strip of jsonParse(orderCard.Details.split(';')[2]); let m = index" >{{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.deliveryDate | date:'MMMM d, y'}}</span>     
                                                </div>
                                                <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;" *ngIf="orderCard.Details.split(';').length == 1">{{orderCard.Details}} </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orders">
                <div class="even-inner-order">
                    <h2>Delivery Packages</h2>
                    <a href="javascript:;" data-toggle="modal"  class="createDelivery" data-target="#createDeliveryModalt" (click)="getHome(bin.Home)" >New</a>  
                </div>
                <div class="col-sm-12 col-xs-12 tickets_card even-inner-order"  Style="display:block;">
                    <div *ngFor="let package of comService.deliveryPackages; let n = index;">
                        <div class="col-sm-12 col-md-12 col-xs-12 bth-one" droppable (onDrop)="onItemDrop($event,package)"  *ngIf="package.HomeID == bin.Home.HomeID">
                            <div class="ticket_inner" ><h3 data-toggle="collapse" attr.data-target="#inbin_{{n}}13-{{package.DeliveryPkgId}}">{{package.Title}} {{package.DateToDeliver | date:'MMM dd'}}</h3> 
                                <span class="click_top"><a href="javascript:;" (click)="prnt.printDeliverySheet(package.DeliveryPkgId)">
                                        <img src="assets/images/prnt-icon.png"></a>
                                </span>
                                <span class="click_top arv-icon"><a href="javascript:;" class="dlvry-act"  (click)="!package.isRun?sendToDeliver(package):''" data-toggle="tooltip" title="Send to delivery run">
                                        <img [src]="!package.isRun?'assets/images/delivery.png':'assets/images/checked.png'"></a>
                                </span>
                                <!-- <a href="javascript:;" class="innerIcn" data-toggle="collapse" attr.data-target="#inbin_{{n}}13-{{package.DeliveryPkgId}}" [ngClass]="{'atth-tkt-inner-icon-plus':!comService.returnClass[n+'kkg1'+package.DeliveryPkgId],'atth-tkt-inner-icon-minus':comService.returnClass[n+'kkg1'+package.DeliveryPkgId]}" (click)="comService.managePatCardCollapse($event,n+'kkg1'+package.DeliveryPkgId)"></a> -->
                            </div>

                            <!-- Print Sheet -->
                            <div id="delivery-section-{{package.DeliveryPkgId}}" style="display:none;">
                                <div style="margin: 0 auto;width : 700px;">
                                    <div style="width:100%; float: left; text-align:center;">
                                        <img src="{{comService.baseUrl}}assets/images/logo.png" >
                                    </div>
                                    <div style="width:100%; float: left;">
                                        <h3 style="color:#009FE9;">Delivery Package</h3>
                                        <div style=" width:100%; float: left; background-color: #f5f5f5;">
                                            <div style="width:78%; float: left; font-family:Roboto-Regular;padding-left: 9px;">
                                                <p style="font-size:18px;">Deliver on : {{package.DateDelivered | date:'EEEE, MMMM d, y, h:mm a':'GMT'}} </p>
                                                <p style="font-size:18px;">Package Id : #{{package.DeliveryPkgId}}</p>
                                            </div>
                                            <div style="width:20%; float: left; font-family:Roboto-Regular; padding-top:20px;">
                                                <div  [innerHTML]="comService.htmlentities.decode(package.deliveryPkgCodeImg)| keepHtml"></div>
                                                    <p style="margin-left:6px; display:inline-block; font-size:10px; letter-spacing:4px;margin-top:-5px;position:relative;top:7px;">{{package.deliveryPkgCode}}</p>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div style="width:100%; float: left;">
                                        <h3 style="color:#009FE9;">Ship To</h3>
                                        <div style="width:100%; float: left; font-family:Roboto-Regular; background-color: #f5f5f5; padding-left: 9px;">
                                            <p style="font-size:18px;">Home: {{package.HomeName}} </p>
                                            <p style="font-size:18px;">Address1: {{package.Address1}}</p>
                                            <p style="font-size:18px;">Address2: {{package.Address2}}</p>
                                            <p style="font-size:18px;">City: {{package.City}}</p>
                                            <p style="font-size:18px;">Province:  {{package.Prov}} ({{package.Postal}})</p>
                                        </div>
                                    </div>
                                
                                    <div style="width:100%; float: left;">
                                        <h3 style="color:#009FE9;">Contact Details</h3>
                                        <div style="width:100%; float: left; font-family:Roboto-Regular; background-color: #f5f5f5;padding-left: 9px;">
                                            <div style="width:100%; float: left; padding: 12px 0px;"> 
                                                <label style="float: left;width: 20%; font-size:18px;">Office :</label><span style="float: left;width: 80%; font-size:15px;color: #009fe9;">(416)736-0199</span>
                                            </div>
                                            <div style="width:100%; float: left; padding: 12px 0px;"> 
                                                <label style="float: left;width: 20%; font-size:18px;">Home :</label><span style="float: left;width: 80%; font-size:15px; color: #009fe9;">(416)736-0199</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- End Print Sheet -->

                            <div id="inbin_{{n}}13-{{package.DeliveryPkgId}}" class="collapse new_accordian deliver_new_sec">
                                <form   (ngSubmit)="updatePackages(package)">
                                    <div class="form-group">
                                        <!-- <div class="ticket_inner" data-toggle="collapse" attr.data-target="#inbin_{{n}}del-{{package.DeliveryPkgId}}"><h3>Deliver To</h3>  -->
                                            <!-- <a href="javascript:;" class="innerIcn"  [ngClass]="{'atth-tkt-inner-icon-plus':!comService.returnClass[n+'delhi'+package.DeliveryPkgId],'atth-tkt-inner-icon-minus':comService.returnClass[n+'delhi'+package.DeliveryPkgId]}" (click)="comService.managePatCardCollapse($event,n+'delhi'+package.DeliveryPkgId)"></a> -->
                                        <!-- </div> -->
                                        <!-- <div id="inbin_{{n}}del-{{package.DeliveryPkgId}}" class="collapse new_accordian"> -->
                                            <table >
                                                <tbody>
                                                    <tr>
                                                        <th>Address</th>
                                                        <td>{{package.Address1}}, {{package.Address2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>City</th>
                                                        <td>{{package.City}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Province</th>
                                                        <td>{{package.Prov}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Postal</th>
                                                        <td>{{package.Postal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        <!-- </div> -->
                                    </div>
                                    <div class="form-group">
                                        <span>Delivery Instruction</span>
                                        <textarea [(ngModel)]="package.DeliveryInstructions" name="DeliveryInstructions">{{package.DeliveryInstructions}}</textarea>
                                        <button type="submit" [disabled]="updatingDeliveryPkg[package.DeliveryPkgId]">
                                                <span *ngIf="!updatingDeliveryPkg[package.DeliveryPkgId]">Update </span>
                                                <span *ngIf="updatingDeliveryPkg[package.DeliveryPkgId]">Updating <i class="fa fa-spinner fa-spin"></i></span>
                                        </button>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 tickets_card new_accordian">
                                        <div class="orders">
                                            <div class="order-sec">
                                                <h2>Packed Delivery Orders <div class="spinner-pkg-loder" *ngIf="status.packageOrderLoad[package.DeliveryPkgId]"><i class="fa fa-spinner fa-pulse package-spin" style="font-size:24px"></i></div></h2>
                                            </div>
                                                    {{getDeliveryPackgeDOrders(package.DeliveryPkgId)}}
                                            <div *ngFor="let dilPkgOrd of deliveryPkgOrders[package.DeliveryPkgId]; let m = index;">
                                                <div class="col-sm-12 col-xs-12 tickets_card inner_order" style="display: block;">
                                                    <div class="col-sm-12 col-xs-12 bth-one">
                                                        <div class="ticket_inner dlrto"  data-toggle="collapse" attr.data-target="#inbin_tctcard{{m}}-{{dilPkgOrd.OrderID}}" (click)="!ConService.iHaveTicketConversations[dilPkgOrd.PharmacyTicketID] ? ConService.getConversation(dilPkgOrd.PharmacyTicketID) : ''">
                                                            <div class="spinner-pkg-loder" *ngIf="status.packageOrderLoad[package.DeliveryPkgId]"><i class="fa fa-spinner fa-pulse package-spin" style="font-size:24px"></i></div>
                                                                <h3>{{dilPkgOrd.LastName}},{{dilPkgOrd.FirstName}}</h3> 
                                                                <!-- <span class="click_top"><a href="javascript:;" (click)="prnt.print(dilPkgOrd.OrderID)" >
                                                                        <img src="assets/images/prnt-icon.png"></a>
                                                                </span> -->
                                                            </div>
                                                            <div id="inbin_tctcard{{m}}-{{dilPkgOrd.OrderID}}" class="new_accordian collapse" aria-expanded="true" style="">
                                                                <p>Delivery Date: {{dilPkgOrd.DeliveryDate | date:'EEEE, MMMM d, y, h:mm a':'GMT' }}</p>  
                                                                <div class="collapse new_accordian" style="display:block;">
                                                                    <div class="medication">
                                                                        <div *ngIf="dilPkgOrd.Details.split(';').length > 1">
                                                                                <p class="rx_tab">CHANGES:{{dilPkgOrd.Details.split(';')[0]}}</p>    
                                                                                <p class="rx_tab">ACTION:{{dilPkgOrd.Details.split(';')[1]}}</p> 
                                                                            <div *ngFor="let strip of jsonParse(dilPkgOrd.Details.split(';')[2]);">
                                                                                <p class="rx_tab">{{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.deliveryDate | date:'MMMM d, y'}}</p>    
                                                                            </div>
                                                                        </div>
                                                                        <div *ngIf="dilPkgOrd.Details.split(';').length ==1">
                                                                            <p class="rx_tab" >{{dilPkgOrd.Details}}</p>
                                                                        </div>  
                                                                    </div>
                                                                </div>
                                                                <h2 class="delveryec">Discussion</h2>
                                                                <div class="conversation">
                                                                    <form (ngSubmit)="ConService.saveConversation(dilPkgOrd.PharmacyTicketID)">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                    <input type="text"  placeholder="Type Here..."  autocomplete="off"  [(ngModel)]="ConService.data.Msg[dilPkgOrd.PharmacyTicketID]" name="Msg" class="form-control">
                                                                            </div>
                                                                            <div class="col-md-2 txt">
                                                                                <button type="submit" class="circle" [disabled]="!ConService.data.Msg[dilPkgOrd.PharmacyTicketID]">
                                                                                    <i name="md-send" class="fa fa-paper-plane"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <div class="conversation-container">
                                                                        <div *ngIf="ConService.loadingTicketConversations[dilPkgOrd.PharmacyTicketID]" class="custom-spiner">
                                                                            <i class="fa fa-spinner fa-spin"></i>
                                                                        </div>
                                                                        <div *ngFor="let chat of ConService.ticketConversations[dilPkgOrd.PharmacyTicketID]">
                                                                            <div [ngClass]="chat.UserID != auth.authCheck()['user_id'] ? 'message received' : 'message sent'">
                                                                                    <span class="cht-usr-nm">{{comService.createDefaultImage(chat.name)}}</span>
                                                                                    {{chat.Msg}}
                                                                                <span class="metadata">
                                                                                    <span class="time">
                                                                                            <!-- {{chat.name}}, -->
                                                                                            <span *ngIf="chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                                                            <span *ngIf="!chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div id="{{'content_bottom_'+dilPkgOrd.PharmacyTicketID}}" style="margin-top: 200px;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 bth-one" *ngIf="status.packageErr[bin.Home.HomeID]">
                                <span class="error-pkg">{{status.packageErr[bin.Home.HomeID]}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<!-- No selected Area -->
<div class="heading_column" id="awaitingBin" >
    <div class="ticket_inner section-6" id="section-6"><h3>No Area Selected</h3></div>
</div>

<div  *ngFor="let bin of comService.inBin; let i = index;">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 tickets_card" *ngIf="!bin.Home.SubAreaID" >
        <div class="ticket_inner" [ngClass]="comService.ticketStatusColor[bin.Home.DefaultDeliveryDay]" data-toggle="collapse" attr.data-target="#even_card{{i}}-{{bin.Home.HomeID}}" aria-expanded="true">
            <h3>{{bin.Home.BinName}}|{{bin.Home.HomeName}} <span># {{bin.Home.TotalOrders}}</span></h3>
        </div>
        <div id="even_card{{i}}-{{bin.Home.HomeID}}" class="new_accordian collapse" aria-expanded="true" style="">
            <p><img src="assets/images/home-icon-blue.png">
                <span  *ngIf="!bin.Home.Address1" class="address-alt">Please add address</span>
                <span  *ngIf="bin.Home.Address1">{{bin.Home.Address1}}, {{bin.Home.Address2}}, {{bin.Home.City}}, {{bin.Home.Prov}} ({{bin.Home.Postal}})</span>
                </p>
            <div class="loader-img" *ngIf="status.loader[bin.Home.HomeID]">
                <img src="assets/images/loading.gif">
            </div>
            <div class="in-bin-ptn-sec">
                <h3><img src="./assets/images/patient-icon.png">Patients</h3>
                <div class="in-bin-inner-sec"  *ngFor="let patCrt of bin.PatCard; let j = index;">
                    <p *ngIf="patCrt.PatID != null">{{patCrt.LastName+', '+patCrt.FirstName}}</p>
                    <p *ngIf="patCrt.PatID == null" class="empty-pat">No patient assigned</p>
                </div>
            </div>
            <div class="inbin-tckt-crd-sec">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 tickets_card new_accordian">
                    <div class="orders">
                        <div class="order-sec">
                            <h2>Orders</h2>
                        </div>
                        <div  class="col-sm-12 col-xs-12 tickets_card inner_order" style="display: block;">
                            <div class="col-sm-12 col-md-12 col-xs-12 bth-one" *ngIf="bin.Home.TotalOrders == 0">
                                <span class="eror-pkg">No order found!</span>
                            </div>
                        </div>
                        <div *ngFor="let orderCard of comService.inBinOrderCard; let l = index;">
                            <div class="col-sm-12 col-xs-12 tickets_card inner_order" style="display: block;" *ngIf="orderCard.HomeID == bin.Home.HomeID">
                                <!-- {{counter(orderCard)}} -->
                                <div class="col-sm-12 col-xs-12 bth-one">
                                    <div class="ticket_inner" [ngClass]="comService.ticketStatusColor[comService.getWhichDay(orderCard.DeliveryDate)]"  (click)="!ConService.iHaveTicketConversations[orderCard.PharmacyTicketID] ? ConService.getConversation(orderCard.PharmacyTicketID) : ''" draggable [dragData]="orderCard">
                                        <h3>{{orderCard.LastName}},{{orderCard.FirstName}} </h3> 
                                        <span class="click_top"><a href="javascript:;" (click)="prnt.print(orderCard.OrderID)" >
                                                <img src="assets/images/prnt-icon.png"></a>
                                        </span>
                                        <a href="javascript:;" data-toggle="collapse" attr.data-target="#inbin_tctcard{{l}}-{{orderCard.PatID}}" class="innerIcn" [ngClass]="{'atth-tkt-inner-icon-plus':!comService.returnClass[l+'inBinOr'+orderCard.PatID],'atth-tkt-inner-icon-minus':comService.returnClass[l+'inBinOr'+orderCard.PatID]}" (click)="comService.managePatCardCollapse($event,l+'inBinOr'+orderCard.PatID);"  ></a>
                                    </div>
                                    <div id="inbin_tctcard{{l}}-{{orderCard.PatID}}" class="new_accordian collapse" aria-expanded="true" style="">
                                        <p>Created by: {{orderCard.createdBy}} |  on: {{orderCard.DateCreated | date:'EEEE, MMMM d, y, h:mm a':'GMT'}}</p> 
                                        <p>Delivery Date: {{orderCard.DeliveryDate | date:'EEEE, MMMM d, y, h:mm a':'GMT' }} <i class="fa fa-pencil-square-o editdel" aria-hidden="true"  data-toggle="modal" data-target="#createNewRunModal12" (click)="changeDeliveryDate(orderCard.PharmacyTicketID, orderCard.DeliveryDate)"></i></p>  
                                        <div class="collapse new_accordian" style="display:block;" *ngIf="orderCard.Details">
                                            <div class="medication">
                                                <div *ngIf="orderCard.Details.split(';').length > 1">
                                                        <p class="rx_tab">CHANGES:{{orderCard.Details.split(';')[0]}}</p>    
                                                        <p class="rx_tab">ACTION:{{orderCard.Details.split(';')[1]}}</p> 
                                                    <div *ngFor="let strip of jsonParse(orderCard.Details.split(';')[2]);">
                                                        <p class="rx_tab">{{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.deliveryDate | date:'MMMM d, y'}}</p>    
                                                    </div>
                                                </div>
                                                <div *ngIf="orderCard.Details.split(';').length ==1">
                                                    <p class="rx_tab" >{{orderCard.Details}}</p>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="collapse new_accordian" style="display:block;"  *ngIf="orderCard.TicketType == 4">
                                                <div class="medication">
                                                     {{getMedication(orderCard.OrderID)}}
                                                    <div *ngFor="let med of this.medication[orderCard.OrderID];">
                                                        <p class="rx_tab" data-toggle="collapse" attr.data-target="#first_rxb{{med.OrderID}}-{{med.RxNum}}">Rx {{med.RxNum}} - {{med.BrandName}} {{med.Strength}}</p>
                                                        <div id="first_rxb{{med.OrderID}}-{{med.RxNum}}" class="collapse new_accordian">
                                                            <div class="rx_content">
                                                                <div class="left_med">
                                                                    <p>Brand: {{med.BrandName}}</p>
                                                                    <p>{{med.GenericName}}  {{med.Strength}}</p>
                                                                    <p>{{med.doctor}}</p>
                                                                </div>
                                                                <div class="right_med_img">
                                                                    <ul>
                                                                        <li><img src="assets/images/img_1.jpg"></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="full_content">
                                                                    <p>{{med.SIG}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <h2>Discussion</h2>
                                        <div class="conversation">
                                            <form (ngSubmit)="ConService.saveConversation(orderCard.PharmacyTicketID)">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                            <input type="text"  placeholder="Type Here..."  autocomplete="off" [(ngModel)]="ConService.data.Msg[orderCard.PharmacyTicketID]" name="Msg" class="form-control">
                                                    </div>
                                                    <div class="col-md-2 txt">
                                                        <button type="submit" class="circle" [disabled]="!ConService.data.Msg[orderCard.PharmacyTicketID]">
                                                            <i name="md-send" class="fa fa-paper-plane"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="conversation-container">
                                                <div *ngIf="ConService.loadingTicketConversations[orderCard.PharmacyTicketID]" class="custom-spiner">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </div>
                                                <div *ngFor="let chat of ConService.ticketConversations[orderCard.PharmacyTicketID]">
                                                    <div [ngClass]="chat.UserID != auth.authCheck()['user_id'] ? 'message received' : 'message sent'">
                                                            <span class="cht-usr-nm">{{comService.createDefaultImage(chat.name)}}</span>
                                                            {{chat.Msg}}
                                                        <span class="metadata">
                                                            <span class="time">
                                                                    <!-- {{chat.name}}, -->
                                                                    <span *ngIf="chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                                    <span *ngIf="!chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div id="{{'content_bottom_'+orderCard.PharmacyTicketID}}" style="margin-top: 200px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="print-section-{{orderCard.OrderID}}" style="display:none">
                                <div class="mainsec" style="margin: 0 auto;width : 700px">
                                    <div style="float: left;width : 100%">
                                        <img src="{{comService.baseUrl}}assets/images/logo.png" height="45" width="250">
                                    </div>
                                    <div class="topbarcode-sec" style="float: left;width : 100%">
                                        <h2 style="font-size: 30px;display: inline-block; color: #4B672D">{{orderCard.FirstName}} {{orderCard.LastName}}</h2>
                                        <div style="float: right;padding: 41px 0px;width: 19%;">
                                            <div  [innerHTML]="comService.htmlentities.decode(orderCard.BarCodeImage)| keepHtml"></div>
                                            <p style="margin-left:15px; display:inline-block; font-size:10px; letter-spacing:4px;margin-top:-5px;position:relative;top:7px;">{{orderCard.BarCode}}</p>
                                        </div>
                                    </div>
                                    <div class="table-cnt" style="float: left; width: 100%; border: 1px solid #dadada;">
                                        <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                                            <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Delivery Date</li>
                                            <li  style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;" ><span>{{orderCard.DeliveryDate |date:'MMM dd, yyyy'}}</span></li>
                                        </ul>
                                        <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                                            <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Date Recorded</li>
                                            <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{orderCard.DateCreated |date:'MMM dd, yyyy'}}</span></li>
                                        </ul>
                                        <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;" *ngIf="orderCard.Pharmacist">
                                                <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Pharmacist</li>
                                                <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{orderCard.Pharmacist}}</span></li>
                                            </ul>
                                        <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                                            <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Tech.</li>
                                            <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{orderCard.createdBy}}</span></li>
                                        </ul>
                                        <ul style="float: left; width: 100%; padding: 0; margin: 0;">
                                            <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;">Description</li>
                                            <li style=" list-style: none; float: left; width: 70%; border-left: 1px solid #dadada; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;">
                                                <div *ngIf="orderCard.Details.split(';').length > 1">
                                                    <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;">CHANGES: {{orderCard.Details.split(';')[0]}}</span>
                                                    <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;">ACTION: {{orderCard.Details.split(';')[1]}}</span>
                                                    <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;" *ngFor="let strip of jsonParse(orderCard.Details.split(';')[2]); let m = index" >{{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.deliveryDate | date:'MMMM d, y'}}</span>     
                                                </div>
                                                <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;" *ngIf="orderCard.Details.split(';').length == 1">{{orderCard.Details}} </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orders">
                <div class="even-inner-order">
                    <h2>Delivery Packages</h2>
                    <a href="javascript:;" data-toggle="modal"  class="createDelivery" data-target="#createDeliveryModalt" (click)="getHome(bin.Home)" >New</a>  
                </div>
                <div class="col-sm-12 col-xs-12 tickets_card even-inner-order"  Style="display:block;">
                    <div *ngFor="let package of comService.deliveryPackages; let n = index;">
                        <div class="col-sm-12 col-md-12 col-xs-12 bth-one" droppable (onDrop)="onItemDrop($event,package)"  *ngIf="package.HomeID == bin.Home.HomeID">
                            <div class="ticket_inner"><h3 data-toggle="collapse" attr.data-target="#inbin_{{n}}13-{{package.DeliveryPkgId}}">{{package.Title}} {{package.DateToDeliver | date:'MMM dd'}}</h3> 
                                <span class="click_top"><a href="javascript:;" (click)="prnt.printDeliverySheet(package.DeliveryPkgId)">
                                        <img src="assets/images/prnt-icon.png"></a>
                                </span>
                                <span class="click_top arv-icon"><a href="javascript:;" class="dlvry-act"  (click)="!package.isRun?sendToDeliver(package):''" data-toggle="tooltip" title="Send to delivery run">
                                        <img [src]="!package.isRun?'assets/images/delivery.png':'assets/images/checked.png'"></a>
                                </span>
                                <!-- <a href="javascript:;" class="innerIcn" data-toggle="collapse" attr.data-target="#inbin_{{n}}13-{{package.DeliveryPkgId}}" [ngClass]="{'atth-tkt-inner-icon-plus':!comService.returnClass[n+'kkg1'+package.DeliveryPkgId],'atth-tkt-inner-icon-minus':comService.returnClass[n+'kkg1'+package.DeliveryPkgId]}" (click)="comService.managePatCardCollapse($event,n+'kkg1'+package.DeliveryPkgId)"></a> -->
                            </div>

                            <!-- Print Sheet -->
                            <div id="delivery-section-{{package.DeliveryPkgId}}" style="display:none;">
                                <div style="margin: 0 auto;width : 700px;">
                                    <div style="width:100%; float: left; text-align:center;">
                                        <img src="{{comService.baseUrl}}assets/images/logo.png" >
                                    </div>
                                    <div style="width:100%; float: left;">
                                        <h3 style="color:#009FE9;">Delivery Package</h3>
                                        <div style=" width:100%; float: left; background-color: #f5f5f5;">
                                            <div style="width:78%; float: left; font-family:Roboto-Regular;padding-left: 9px;">
                                                <p style="font-size:18px;">Deliver on : {{package.DateDelivered | date:'EEEE, MMMM d, y, h:mm a':'GMT'}} </p>
                                                <p style="font-size:18px;">Package Id : #{{package.DeliveryPkgId}}</p>
                                            </div>
                                            <div style="width:20%; float: left; font-family:Roboto-Regular; padding-top:20px;">
                                                <div  [innerHTML]="comService.htmlentities.decode(package.deliveryPkgCodeImg)| keepHtml"></div>
                                                    <p style="margin-left:6px; display:inline-block; font-size:10px; letter-spacing:4px;margin-top:-5px;position:relative;top:7px;">{{package.deliveryPkgCode}}</p>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div style="width:100%; float: left;">
                                        <h3 style="color:#009FE9;">Ship To</h3>
                                        <div style="width:100%; float: left; font-family:Roboto-Regular; background-color: #f5f5f5; padding-left: 9px;">
                                            <p style="font-size:18px;">Home: {{package.HomeName}} </p>
                                            <p style="font-size:18px;">Address1: {{package.Address1}}</p>
                                            <p style="font-size:18px;">Address2: {{package.Address2}}</p>
                                            <p style="font-size:18px;">City: {{package.City}}</p>
                                            <p style="font-size:18px;">Province:  {{package.Prov}} ({{package.Postal}})</p>
                                        </div>
                                    </div>
                                
                                    <div style="width:100%; float: left;">
                                        <h3 style="color:#009FE9;">Contact Details</h3>
                                        <div style="width:100%; float: left; font-family:Roboto-Regular; background-color: #f5f5f5;padding-left: 9px;">
                                            <div style="width:100%; float: left; padding: 12px 0px;"> 
                                                <label style="float: left;width: 20%; font-size:18px;">Office :</label><span style="float: left;width: 80%; font-size:15px;color: #009fe9;">(416)736-0199</span>
                                            </div>
                                            <div style="width:100%; float: left; padding: 12px 0px;"> 
                                                <label style="float: left;width: 20%; font-size:18px;">Home :</label><span style="float: left;width: 80%; font-size:15px; color: #009fe9;">(416)736-0199</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Print Sheet -->
                            <div id="inbin_{{n}}13-{{package.DeliveryPkgId}}" class="collapse new_accordian deliver_new_sec">
                                <form   (ngSubmit)="updatePackages(package)">
                                    <div class="form-group">
                                        <!-- <div class="ticket_inner" data-toggle="collapse" attr.data-target="#inbin_{{n}}del-{{package.DeliveryPkgId}}"><h3>Deliver To</h3>  -->
                                            <!-- <a href="javascript:;" class="innerIcn"  [ngClass]="{'atth-tkt-inner-icon-plus':!comService.returnClass[n+'delhi'+package.DeliveryPkgId],'atth-tkt-inner-icon-minus':comService.returnClass[n+'delhi'+package.DeliveryPkgId]}" (click)="comService.managePatCardCollapse($event,n+'delhi'+package.DeliveryPkgId)"></a> -->
                                        <!-- </div> -->
                                        <!-- <div id="inbin_{{n}}del-{{package.DeliveryPkgId}}" class="collapse new_accordian"> -->
                                            <table >
                                                <tbody>
                                                    <tr>
                                                        <th>Address</th>
                                                        <td>{{package.Address1}}, {{package.Address2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>City</th>
                                                        <td>{{package.City}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Province</th>
                                                        <td>{{package.Prov}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Postal</th>
                                                        <td>{{package.Postal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        <!-- </div> -->
                                    </div>
                                    <div class="form-group">
                                        <span>Delivery Instruction</span>
                                        <textarea [(ngModel)]="package.DeliveryInstructions" name="DeliveryInstructions">{{package.DeliveryInstructions}}</textarea>
                                        <button type="submit" [disabled]="updatingDeliveryPkg[package.DeliveryPkgId]">
                                                <span *ngIf="!updatingDeliveryPkg[package.DeliveryPkgId]">Update </span>
                                                <span *ngIf="updatingDeliveryPkg[package.DeliveryPkgId]">Updating <i class="fa fa-spinner fa-spin"></i></span>
                                        </button>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 tickets_card new_accordian">
                                        <div class="orders">
                                            <div class="order-sec">
                                                <h2>Packed Delivery Orders <div class="spinner-pkg-loder" *ngIf="status.packageOrderLoad[package.DeliveryPkgId]"><i class="fa fa-spinner fa-pulse package-spin" style="font-size:24px"></i></div></h2>
                                            </div>
                                                    {{getDeliveryPackgeDOrders(package.DeliveryPkgId)}}
                                            <div *ngFor="let dilPkgOrd of deliveryPkgOrders[package.DeliveryPkgId]; let m = index;">
                                                <div class="col-sm-12 col-xs-12 tickets_card inner_order" style="display: block;">
                                                    <div class="col-sm-12 col-xs-12 bth-one">
                                                        <div class="ticket_inner dlrto"  data-toggle="collapse" attr.data-target="#inbin_tctcard{{m}}-{{dilPkgOrd.OrderID}}" (click)="!ConService.iHaveTicketConversations[dilPkgOrd.PharmacyTicketID] ? ConService.getConversation(dilPkgOrd.PharmacyTicketID) : ''">
                                                            <div class="spinner-pkg-loder" *ngIf="status.packageOrderLoad[package.DeliveryPkgId]"><i class="fa fa-spinner fa-pulse package-spin" style="font-size:24px"></i></div>
                                                                <h3>{{dilPkgOrd.LastName}},{{dilPkgOrd.FirstName}}</h3> 
                                                                <!-- <span class="click_top"><a href="javascript:;" (click)="prnt.print(dilPkgOrd.OrderID)" >
                                                                        <img src="assets/images/prnt-icon.png"></a>
                                                                </span> -->
                                                            </div>
                                                            <div id="inbin_tctcard{{m}}-{{dilPkgOrd.OrderID}}" class="new_accordian collapse" aria-expanded="true" style="">
                                                                <p>Delivery Date: {{dilPkgOrd.DeliveryDate | date:'EEEE, MMMM d, y, h:mm a':'GMT' }}</p>  
                                                                <div class="collapse new_accordian" style="display:block;">
                                                                    <div class="medication">
                                                                        <div *ngIf="dilPkgOrd.Details.split(';').length > 1">
                                                                                <p class="rx_tab">CHANGES:{{dilPkgOrd.Details.split(';')[0]}}</p>    
                                                                                <p class="rx_tab">ACTION:{{dilPkgOrd.Details.split(';')[1]}}</p> 
                                                                            <div *ngFor="let strip of jsonParse(dilPkgOrd.Details.split(';')[2]);">
                                                                                <p class="rx_tab">{{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.deliveryDate | date:'MMMM d, y'}}</p>    
                                                                            </div>
                                                                        </div>
                                                                        <div *ngIf="dilPkgOrd.Details.split(';').length ==1">
                                                                            <p class="rx_tab" >{{dilPkgOrd.Details}}</p>
                                                                        </div>  
                                                                    </div>
                                                                </div>
                                                                <h2 class="delveryec">Discussion</h2>
                                                                <div class="conversation">
                                                                    <form (ngSubmit)="ConService.saveConversation(dilPkgOrd.PharmacyTicketID)">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                    <input type="text"  placeholder="Type Here..." autocomplete="off"  [(ngModel)]="ConService.data.Msg[dilPkgOrd.PharmacyTicketID]" name="Msg" class="form-control">
                                                                            </div>
                                                                            <div class="col-md-2 txt">
                                                                                <button type="submit" class="circle" [disabled]="!ConService.data.Msg[dilPkgOrd.PharmacyTicketID]">
                                                                                    <i name="md-send" class="fa fa-paper-plane"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <div class="conversation-container">
                                                                        <div *ngIf="ConService.loadingTicketConversations[dilPkgOrd.PharmacyTicketID]" class="custom-spiner">
                                                                            <i class="fa fa-spinner fa-spin"></i>
                                                                        </div>
                                                                        <div *ngFor="let chat of ConService.ticketConversations[dilPkgOrd.PharmacyTicketID]">
                                                                            <div [ngClass]="chat.UserID != auth.authCheck()['user_id'] ? 'message received' : 'message sent'">
                                                                                    <span class="cht-usr-nm">{{comService.createDefaultImage(chat.name)}}</span>
                                                                                    {{chat.Msg}}
                                                                                <span class="metadata">
                                                                                    <span class="time">
                                                                                            <!-- {{chat.name}}, -->
                                                                                            <span *ngIf="chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                                                            <span *ngIf="!chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div id="{{'content_bottom_'+dilPkgOrd.PharmacyTicketID}}" style="margin-top: 200px;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 bth-one" *ngIf="status.packageErr[bin.Home.HomeID]">
                                <span class="error-pkg">{{status.packageErr[bin.Home.HomeID]}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="createDeliveryModalt" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form novalidate  [formGroup]="deliveryRunForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="CloseButton2">&times;</button>
                    <h4 class="modal-title">Delivery Package</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <span>Select Delivery Run<em>*</em></span>
                        <select  formControlName="DeliveryRunId" required >
                                <option value="">--Select Delivery Run--</option>
                            <option *ngFor="let newRun of comService.runList" value="{{newRun.DeliveryRunID}}">{{newRun.Title}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Ship To</span>
                        <select  (change)="shipTo($event)">
                            <option value="">--Select Address--</option>
                            <option *ngFor="let address of addressList" value="{{address.HomeAddressesID}}">{{address.Address1}},{{address.Address2}}, {{address.City}} ({{address.Postal}})</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Title <em>*</em></span>
                        <input type="text" formControlName="Title" id="title"  placeholder="Please enter title" required/>
                    </div>
                    <div class="form-group">
                        <span>Address1</span>
                        <input type="text" formControlName="Address1" placeholder="Please enter address1"/>
                    </div>
                    <div class="form-group">
                            <span>Address2</span>
                            <input type="text" formControlName="Address2" placeholder="Please enter address2"/>
                        </div>
                    <div class="form-group">
                        <span>City</span>
                        <input type="text" formControlName="City" placeholder="Please enter city"/>
                    </div>
                    <div class="form-group">
                        <span>Prov </span>
                        <input type="text" formControlName="Prov" placeholder="Please enter prov"/>
                    </div>
                    <div class="form-group">
                        <span>Postal</span>
                        <input type="text" formControlName="Postal" placeholder="Please enter postal code"/>
                    </div>

                    <div class="form-group">
                        <span>DeliveryInstructions </span>
                        <textarea formControlName="DeliveryInstructions" placeholder="Please enter delivery instructions" ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default" [disabled]="createDelivery">
                            <span *ngIf="!createDelivery">Create </span>
                            <span *ngIf="createDelivery">Creating <i class="fa fa-spinner fa-spin"></i></span>
                    </button>
                </div>
            </form>
            </div>

        </div>
    </div>


    <div id="createNewRunModal12" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form novalidate  [formGroup]="deliveryChangeFrom" (ngSubmit)="updateDeliveryDate()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" id="CloseButton134">&times;</button>
                            <h4 class="modal-title">Update Delivery Date</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <span>Date Scheduled</span>
                                <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder=""   formControlName="deliveryDate" >
                                <owl-date-time [hour12Timer]="'true'" #dt2 ></owl-date-time>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-default"  [disabled]="!deliveryChangeFrom.valid || updatingDeliveryDate">
                                <span *ngIf="!updatingDeliveryDate">Update </span>
                                <span *ngIf="updatingDeliveryDate">Updating <i class="fa fa-spinner fa-spin"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
