
<section id="for_padding">
  <div class="cloumn_three">

    <div class="in-bin-sec">
        <div class="heading_column">
            <div class="ticket_inner" id="section-6"><h3>Delivery</h3></div>
        </div>
        <app-due-today></app-due-today>
    </div>
    
<!-- New Run -->
    <div class="delivery-section">
        <app-new-run></app-new-run>
    </div>
    
    <!-- In Transite -->
    <div class="delivery-section">
        <app-in-transit></app-in-transit>
    </div>

<!-- Finalize -->
    <div class="delivery-section">
        <app-finalize></app-finalize>
    </div>
  </div>
</section>
