.conversation .circle{border-radius: 50%; height: 27px; width: 27px; background: #00A2E3; border: 1px solid #fff;}
.conversation .circle i {font-size: 12px;}
.circle{margin: 4px;}
.delveryec{font-size: 23px; text-align: center !important;}
.tickets_card .ticket_inner .click_top.arv-icon {right: 73px !important;top: 13% !important; }
.conversation .txt {right: 10px;}
.conversation input {height: 35px;}
.new_accordian .medication p.rx_tab {  font-size: 14px; cursor: pointer;line-height: 20px;}
.new_accordian .full_content p {font-size: 13px;line-height: 18px;}
.new_accordian .medication .left_med p {font-size: 13px;line-height: 6px;}
.right_med_img ul li, .right_med_img ul li:last-child {margin:0;}
.order-sec h2 {font-size: 22px; text-align: center !important;}