<div class="sub_heading_column">
        <h3 id="section-8"><span>In Transit</span> <i *ngIf="status.mainLoader" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></h3>
    </div>
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 tickets_card auto-mat deli-rn-sec" *ngFor="let transit of comService.deliveryInTransit; let i = index;">
    <div class="ticket_inner" [ngClass]="comService.ticketStatusColor[comService.getWhichDay(transit.DateScheduled)]"  data-toggle="collapse" attr.data-target="#even_card-{{i}}-intransit-{{transit.DeliveryRunID}}">
        <h3>{{transit.Title}}</h3>
    </div>
    <div id="even_card-{{i}}-intransit-{{transit.DeliveryRunID}}" class="new_accordian collapse">
        <div class="del-lft-sec">
            <div id="clickbar" class="delivery-sec">
                <h3>Driver : <span>{{transit.userName}}</span></h3>
            </div>
            <div class="del-activity-sec">
                <h2>Activity</h2>
                <div class="del-date-sec">
                    <div class="del-str-date">
                        <p>Started on <input type="text" placeholder="{{transit.DateStarted | date:'MMM dd yyyy'}}" readonly></p>
                    </div>
                    <div class="dis-box">
                        <p>{{comService.createDefaultImage(transit.startedBy)}}</p><span>{{transit.startedBy}}</span>
                    </div>
                </div>	
            </div>
        </div>
        <div class="del-rgt-sec">
            <div class="orders">
                <div class="even-inner-order">
                    {{getPackageInRun(transit.DeliveryRunID)}}
                    <h2>Delivery Packages <i *ngIf="status.pkgLoader[transit.DeliveryRunID]" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></h2>
                </div>
                <div class="col-sm-12 col-xs-12 tickets_card even-inner-order" style="display : block">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xs-12 bth-one" *ngFor="let pkg of packages[transit.DeliveryRunID]; let k = index;">
                        <div class="ticket_inner" (click)="getDeliveryPackgeDOrders(pkg.DeliveryPkgId)">
                            <h3 data-toggle="collapse" attr.data-target="#trst2{{k}}1-{{pkg.DeliveryPkgId}}">{{pkg.Title}} | {{pkg.HomeName}}</h3> 
                            <span class="click_top rtrnprnt">
                                <a href="javascript:;" (click)="prnt.printDeliverySheet(pkg.DeliveryPkgId)">
                                    <img src="assets/images/prnt-icon.png"></a>
                            </span>
                            <span class="click_top returnbtn">
                                    <span (click)="!comService.isReturn[pkg.deliveryPkgCode]?returnPkg(pkg):''"><i class="fa" [ngClass]="{'fa-arrow-circle-o-left':!comService.isReturn[pkg.deliveryPkgCode],'fa-check-circle-o':comService.isReturn[pkg.deliveryPkgCode]}"></i></span>
                            </span>
                            
                            <!-- <a href="javascript:;" class="innerIcn" data-toggle="collapse" attr.data-target="#trst2{{k}}1-{{pkg.DeliveryPkgId}}" [ngClass]="{'atth-tkt-inner-icon-plus':!comService.returnClass[k+'runkg'+pkg.DeliveryPkgId],'atth-tkt-inner-icon-minus':comService.returnClass[k+'runkg'+pkg.DeliveryPkgId]}" (click)="comService.managePatCardCollapse($event,k+'runkg'+pkg.DeliveryPkgId)"></a> -->
                        </div>

                        <!-- Print Sheet -->
                        <div id="delivery-section-{{pkg.DeliveryPkgId}}" style="display:none;">
                            <div style="margin: 0 auto;width : 700px;">
                                <div style="width:100%; float: left; text-align:center;">
                                    <img src="{{comService.baseUrl}}assets/images/logo.png" >
                                </div>
                                <div style="width:100%; float: left;">
                                    <h3 style="color:#009FE9;">Delivery Package</h3>
                                    <div style=" width:100%; float: left; background-color: #f5f5f5;">
                                        <div style="width:78%; float: left; font-family:Roboto-Regular;padding-left: 9px;">
                                            <p style="font-size:18px;">Deliver on : {{pkg.DateDelivered | date:'EEEE, MMMM d, y, h:mm a':'GMT'}} </p>
                                            <p style="font-size:18px;">Package Id : #{{pkg.DeliveryPkgId}}</p>
                                        </div>
                                        <div style="width:20%; float: left; font-family:Roboto-Regular; padding-top:20px;">
                                            <div  [innerHTML]="comService.htmlentities.decode(pkg.deliveryPkgCodeImg)| keepHtml"></div>
                                                <p style="margin-left:15px; display:inline-block; font-size:10px; letter-spacing:4px;margin-top:-5px;position:relative;top:7px;">{{pkg.deliveryPkgCode}}</p>
                                        </div>
                                    </div>
                                </div>
                            
                                <div style="width:100%; float: left;">
                                    <h3 style="color:#009FE9;">Ship To</h3>
                                    <div style="width:100%; float: left; font-family:Roboto-Regular; background-color: #f5f5f5; padding-left: 9px;">
                                        <p style="font-size:18px;">Home: {{pkg.HomeName}} </p>
                                        <p style="font-size:18px;">Address: {{pkg.Address}}</p>
                                        <p style="font-size:18px;">City: {{pkg.City}}</p>
                                        <p style="font-size:18px;">Province:  {{pkg.Prov}} ({{pkg.Postal}})</p>
                                    </div>
                                </div>
                            
                                <div style="width:100%; float: left;">
                                    <h3 style="color:#009FE9;">Contact Details</h3>
                                    <div style="width:100%; float: left; font-family:Roboto-Regular; background-color: #f5f5f5;padding-left: 9px;">
                                        <div style="width:100%; float: left; padding: 12px 0px;"> 
                                            <label style="float: left;width: 20%; font-size:18px;">Office :</label><span style="float: left;width: 80%; font-size:15px;color: #009fe9;">(416)736-0199</span>
                                        </div>
                                        <div style="width:100%; float: left; padding: 12px 0px;"> 
                                            <label style="float: left;width: 20%; font-size:18px;">Home :</label><span style="float: left;width: 80%; font-size:15px; color: #009fe9;">(416)736-0199</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- End Print Sheet -->
                        <div id="trst2{{k}}1-{{pkg.DeliveryPkgId}}" class="collapse new_accordian deliver_new_sec">
                            <div class="form-group">
                                <!-- <div class="ticket_inner" data-toggle="collapse" attr.data-target="#inbin1_{{k}}rnars-{{pkg.DeliveryPkgId}}"><h3>Deliver To {{pkg.Title}}</h3></div> -->
                                <!-- <div id="inbin1_{{k}}rnars-{{pkg.DeliveryPkgId}}" class="collapse new_accordian"> -->
                                    <table >
                                        <tbody>
                                            <tr>
                                                <th>Address</th>
                                                <td>{{pkg.Address}}</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>{{pkg.City}}</td>
                                            </tr>
                                            <tr>
                                                <th>Province</th>
                                                <td>{{pkg.Prov}}</td>
                                            </tr>
                                            <tr>
                                                <th>Postal</th>
                                                <td>{{pkg.Postal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <!-- </div> -->
                            </div>
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 tickets_card new_accordian">
                                        <div class="orders">
                                            <div class="order-sec">
                                                <h2>Delivery Orders <div class="spinner-pkg-loder" *ngIf="status.packageOrderLoad[pkg.DeliveryPkgId]"><i class="fa fa-spinner fa-pulse package-spin" style="font-size:24px"></i></div></h2>
                                            </div>
                                                {{getDeliveryPackgeDOrders(pkg.DeliveryPkgId)}}
                                            <div *ngFor="let dilPkgOrd of deliveryPkgOrders[pkg.DeliveryPkgId]; let m = index;">
                                                <div class="col-sm-12 col-xs-12 tickets_card inner_order" style="display: block;">
                                                    <div class="col-sm-12 col-xs-12 bth-one">
                                                        <div class="ticket_inner dlrto"  data-toggle="collapse" attr.data-target="#inbin_tctcard{{m}}-{{dilPkgOrd.OrderID}}" (click)="!ConService.iHaveTicketConversations[dilPkgOrd.PharmacyTicketID] ? ConService.getConversation(dilPkgOrd.PharmacyTicketID) : ''">
                                                            <div class="spinner-pkg-loder" *ngIf="status.packageOrderLoad[pkg.DeliveryPkgId]"><i class="fa fa-spinner fa-pulse package-spin" style="font-size:24px"></i></div>
                                                            <h3>{{dilPkgOrd.LastName}},{{dilPkgOrd.FirstName}}</h3> 
                                                        </div>
                                                        <div id="inbin_tctcard{{m}}-{{dilPkgOrd.OrderID}}" class="new_accordian collapse" aria-expanded="true" style="">
                                                            <p>Delivery Date: {{dilPkgOrd.DeliveryDate | date:'EEEE, MMMM d, y, h:mm a':'GMT' }}</p>  
                                                            <div class="collapse new_accordian" style="display:block;" *ngIf="dilPkgOrd.Details">
                                                                <div class="medication">
                                                                    <div *ngIf="dilPkgOrd.Details.split(';').length > 1">
                                                                            <p class="rx_tab">CHANGES:{{dilPkgOrd.Details.split(';')[0]}}</p>    
                                                                            <p class="rx_tab">ACTION:{{dilPkgOrd.Details.split(';')[1]}}</p> 
                                                                        <div *ngFor="let strip of jsonParse(dilPkgOrd.Details.split(';')[2]);">
                                                                            <p class="rx_tab">{{'# '+strip.Strips}} | Start {{strip.startDate | date:'MMMM d, y'}} | Deliver {{strip.deliveryDate | date:'MMMM d, y'}}</p>    
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="dilPkgOrd.Details.split(';').length ==1">
                                                                        <p class="rx_tab" >{{dilPkgOrd.Details}}</p>
                                                                    </div>  
                                                                </div>
                                                            </div>
                                                            <div class="collapse new_accordian" style="display:block;"  *ngIf="dilPkgOrd.TicketType == 4">
                                                                <div class="medication">
                                                                        {{getMedication(dilPkgOrd.OrderID)}}
                                                                    <div *ngFor="let med of this.medication[dilPkgOrd.OrderID];">
                                                                        <p class="rx_tab" data-toggle="collapse" attr.data-target="#first_rxin{{med.OrderID}}-{{med.RxNum}}">Rx {{med.RxNum}} - {{med.BrandName}} {{med.Strength}}</p>
                                                                        <div id="first_rxin{{med.OrderID}}-{{med.RxNum}}" class="collapse new_accordian">
                                                                            <div class="rx_content">
                                                                                <div class="left_med">
                                                                                    <p>Brand: {{med.BrandName}}</p>
                                                                                    <p>{{med.GenericName}}  {{med.Strength}}</p>
                                                                                    <p>{{med.doctor}}</p>
                                                                                </div>
                                                                                <div class="right_med_img">
                                                                                    <ul>
                                                                                        <li><img src="assets/images/img_1.jpg"></li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="full_content">
                                                                                    <p>{{med.SIG}}</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <h2 class="delveryec">Discussion</h2>
                                                            <div class="conversation">
                                                                <form (ngSubmit)="ConService.saveConversation(dilPkgOrd.PharmacyTicketID)">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <input type="text"  placeholder="Type Here..."   [(ngModel)]="ConService.data.Msg[dilPkgOrd.PharmacyTicketID]" name="Msg" class="form-control">
                                                                        </div>
                                                                        <div class="col-md-2 txt">
                                                                            <button type="submit" class="circle" [disabled]="!ConService.data.Msg[dilPkgOrd.PharmacyTicketID]">
                                                                                <i name="md-send" class="fa fa-paper-plane"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <div class="conversation-container">
                                                                    <div *ngIf="ConService.loadingTicketConversations[dilPkgOrd.PharmacyTicketID]" class="custom-spiner">
                                                                        <i class="fa fa-spinner fa-spin"></i>
                                                                    </div>
                                                                    <div *ngFor="let chat of ConService.ticketConversations[dilPkgOrd.PharmacyTicketID]">
                                                                        <div [ngClass]="chat.UserID != auth.authCheck()['user_id'] ? 'message received' : 'message sent'">
                                                                                <span class="cht-usr-nm">{{comService.createDefaultImage(chat.name)}}</span>
                                                                                {{chat.Msg}}
                                                                            <span class="metadata">
                                                                                <span class="time">
                                                                                        <span>{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                                                                </span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="{{'content_bottom_'+dilPkgOrd.PharmacyTicketID}}" style="margin-top: 200px;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="asn-dl-run-btn">
                <button (click)="deliveryFinalize(transit)">Finalize</button>
            </div>
        </div>
    </div>
</div>