<div class="heading_column">
    <div class="ticket_inner" id="section-1"><h3>Re-Order <i *ngIf="status.mainLoader" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></h3> </div>
</div>
<div class="tickets-cards-main-sec">           
  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 tickets_card" *ngFor="let ticket of comService.reorder; let i = index;">
      <div class="ticket_inner title-tikt" [ngClass]="comService.ticketStatusColor[comService.getWhichDay(ticket.DeliveryDate)]">
          <h3 (click)="!ConService.iHaveTicketConversations[ticket.PharmacyTicketID] ? ConService.getConversation(ticket.PharmacyTicketID) : ''" data-toggle="collapse" attr.data-target="#first-reorder-{{i}}-{{ticket.PharmacyTicketID}}" aria-expanded="true">{{ticket.FirstName}} {{ticket.LastName}}<span>#{{ticket.PharmacyTicketID}}</span></h3>
          <span class="click_top"><a href="javascript:;" (click)="prnt.print(ticket.OrderID)" ><img src="assets/images/prnt-icon.png"></a>
          </span>
        </div>
        <div id="print-section-{{ticket.OrderID}}" style="display:none">
            <div class="mainsec" style="margin: 0 auto;width : 700px">
                <div style="float: left;width : 100%">
                    <img src="{{comService.baseUrl}}assets/images/logo.png" height="45" width="250">
                </div>
                <div class="topbarcode-sec" style="float: left;width : 100%">
                    <h2 style="font-size: 30px;display: inline-block; color: #4B672D">{{ticket.FirstName}} {{ticket.LastName}} <br> Reorder</h2>
                    <div style="float: right;padding: 41px 0px;width: 19%;">
                        <div  [innerHTML]="comService.htmlentities.decode(ticket.BarCodeImage)| keepHtml"></div>
                        <p style="margin-left:15px; display:inline-block; font-size:10px; letter-spacing:4px;margin-top:-5px;position:relative;top:7px;">{{ticket.BarCode}}</p>
                    </div>
                </div>
                <div class="table-cnt" style="float: left; width: 100%; border: 1px solid #dadada;">
                    <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                        <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Delivery Date</li>
                        <li  style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;" ><span>{{ticket.DeliveryDate |date:'MMM dd, yyyy'}}</span></li>
                    </ul>
                    <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                        <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Date Recorded</li>
                        <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{ticket.DateCreated |date:'MMM dd, yyyy'}}</span></li>
                    </ul>
                    <!-- <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                        <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Pharmacist</li>
                        <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{ticket.Pharmacist}}</span></li>
                    </ul> -->
                    <ul style="float: left; width: 100%; padding: 0;border-bottom: 1px solid #dadada; margin: 0;">
                        <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; border-right: 1px solid #dadada; padding-top: 25px; padding-bottom: 25px;">Tech.</li>
                        <li style=" list-style: none; float: left; width: 70%; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;"><span>{{ticket.createdBy}}</span></li>
                    </ul>
                    <ul style="float: left; width: 100%; padding: 0; margin: 0;">
                        <li style=" list-style: none; float: left; width: 24%;font-weight: bold; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;">Description</li>
                        <li style=" list-style: none; float: left; width: 70%; border-left: 1px solid #dadada; padding-left: 12px; padding-top: 25px; padding-bottom: 25px;">
                            <span style="width: 100%;float: left;padding-bottom: 9px;line-height: 21px;" >{{ticket.Details}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      <div id="first-reorder-{{i}}-{{ticket.PharmacyTicketID}}" class="new_accordian collapse" aria-expanded="true">
            <div class="loader-img" *ngIf="status.loader[ticket.PharmacyTicketID]">
                <img src="assets/images/loading.gif">
            </div>
            <p>Created by: {{ticket.createdBy}} |  on: {{ticket.DateCreated | date:'EEEE, MMMM d, y, hh:mm a':'GMT'}}</p>    
            <p>Delivery Date: {{ticket.DeliveryDate | date:'EEEE, MMMM d, y, hh:mm a':'GMT' }}  <i class="fa fa-pencil-square-o editdel" aria-hidden="true"  data-toggle="modal" data-target="#createNewRunModal" (click)="changeDeliveryDate(ticket.PharmacyTicketID, ticket.DeliveryDate)"></i></p>   
            <p>Description: {{ticket.Details}} </p>
            {{getRxCards(ticket.PharmacyTicketID)}}
            <div class="orders">
                <div class="order-sec">
                    <h2>Orders</h2>
                </div>
                <div class="collapse new_accordian" style="display:block;">
                    <div class="medication">
                        <div *ngFor="let RxCard of  RxCards[ticket.PharmacyTicketID]; let k = index;">
                            <p class="rx_tab" data-toggle="collapse" attr.data-target="#first_rx{{ticket.PharmacyTicketID}}-{{RxCard.RxNum}}">Rx {{RxCard.RxNum}} - {{RxCard.BrandName}} {{RxCard.Strength}}</p>
                            <div id="first_rx{{ticket.PharmacyTicketID}}-{{RxCard.RxNum}}" class="collapse new_accordian">
                                <div class="rx_content">
                                    <div class="left_med">
                                        <p>Brand: {{RxCard.BrandName}}</p>
                                        <p>{{RxCard.GenericName}}  {{RxCard.Strength}}</p>
                                        <p>{{RxCard.doctor}}</p>
                                    </div>
                                    <div class="right_med_img">
                                        <ul>
                                            <li><img src="assets/images/img_1.jpg"></li>
                                        </ul>
                                    </div>
                                    <div class="full_content">
                                        <p>{{RxCard.SIG}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                            <a href="javascript:;" (click)="completeTicket(ticket.PharmacyTicketID)" class="package" [ngClass]="{'isDisabled':btnDisable[ticket.PharmacyTicketID]}">
                                <span *ngIf="!btnDisable[ticket.PharmacyTicketID]">Complete </span>
                                     <span *ngIf="btnDisable[ticket.PharmacyTicketID]">Completing <i class="fa fa-spinner fa-spin"></i></span>
                            </a>
                    </div>
                </div>
            </div>  
            <div class="orders">
            <h2>Discussion</h2>
                <div class="conversation">
                <form (ngSubmit)="ConService.saveConversation(ticket.PharmacyTicketID)">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text"  placeholder="Type Here..." autocomplete="off"  [(ngModel)]="ConService.data.Msg[ticket.PharmacyTicketID]" name="Msg" class="form-control">
                        </div>
                        <div class="col-md-2 txt">
                            <button type="submit" class="circle" [disabled]="!ConService.data.Msg[ticket.PharmacyTicketID]">
                                <i name="md-send" class="fa fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="conversation-container">
                    <div *ngIf="ConService.loadingTicketConversations[ticket.PharmacyTicketID]" class="custom-spiner">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div *ngFor="let chat of ConService.ticketConversations[ticket.PharmacyTicketID]">
                        <div [ngClass]="chat.UserID != auth.authCheck()['user_id'] ? 'message received' : 'message sent'">
                                <span class="cht-usr-nm">{{comService.createDefaultImage(chat.name)}}</span>
                            {{chat.Msg}}
                            <span class="metadata">
                                <span class="time">
                                        <!-- {{chat.name}}, -->
                                        <span *ngIf="chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                        <span *ngIf="!chat.PharmacyTicketChatID">{{comService.dateFormater(chat.DateCreated) | date:'hh:mm a'}}</span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div id="{{'content_bottom_'+ticket.PharmacyTicketID}}" style="margin-top: 350px;"></div>
                </div> 
            </div>
        </div>
      </div>
  </div>
  <!-- ticket-thrre -->
</div>

<div id="createNewRunModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form novalidate  [formGroup]="deliveryChangeFrom" (ngSubmit)="updateDeliveryDate()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="CloseButton1">&times;</button>
                    <h4 class="modal-title">Update Delivery Date</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <span>Date Scheduled</span>
                        <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder=""   formControlName="deliveryDate" >
                        <owl-date-time [hour12Timer]="'true'" #dt2 ></owl-date-time>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default"  [disabled]="!deliveryChangeFrom.valid || updatingDeliveryDate">
                        <span *ngIf="!updatingDeliveryDate">Update </span>
                        <span *ngIf="updatingDeliveryDate">Updating <i class="fa fa-spinner fa-spin"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>