#createNewRunModal{
    top: 20%;
}
.patlist{
    width: 96%;
    top: 59% !important;
    padding-left: 125px;
}
.conversation .circle{border-radius: 50%; height: 27px; width: 27px; background: #00A2E3; border: 1px solid #fff;}
.conversation .circle i {font-size: 12px;}
.circle{margin: 4px;}
.delveryec{font-size: 23px; text-align: center !important;}
.tickets_card .ticket_inner .click_top.arv-icon {right: 73px !important;top: 13% !important;}
.conversation .txt {right: 10px;}
.conversation input {height: 35px;}
.conversation .conversation-container {padding: 0 23px;}
.ticket_inner .innerIcn {right: 1px;}
.click_top i.fa.fa-pencil-square-o{color: #fff; font-size: 24px;}
.new_accordian .medication p.rx_tab {  font-size: 14px; cursor: pointer;line-height: 20px;}
.new_accordian .full_content p {font-size: 13px;line-height: 18px;}
.new_accordian .medication .left_med p {font-size: 13px;line-height: 6px;}
.right_med_img ul li, .right_med_img ul li:last-child {margin:0;}
.order-sec h2 {font-size: 22px; text-align: center !important;}
.delivery-sec i.fa.fa-circle-o-notch.fa-spin {font-size: 20px;position: absolute;right: 40%; top: 19px;color: #000;}
.custom-spiner {
    text-align: center;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}
.custom-spiner i {
    top: 50%;
}